@font-face 
{
	font-family: 'Gotham';
	src: url('../fonts/gotham-medium-webfont.eot');
	src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium-webfont.woff') format('woff'), url('../fonts/gotham-medium-webfont.ttf') format('truetype'), url('../fonts/gotham-medium-webfont.svg#gotham-medium-webfont') format('svg');
}


@font-face 
{
	font-family: 'Gotham-light';
	src: url('../fonts/gotham-light-webfont.eot');
	src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light-webfont.woff') format('woff'), url('../fonts/gotham-light-webfont.ttf') format('truetype'), url('../fonts/gotham-light-webfont.svg#gotham-light-webfont') format('svg');
}



body { font-family:"Gotham"; padding-top: 40px;  background: white url(../images/bg.jpg) no-repeat 50% 400px; background-size: 100%; text-align:right; }

a { transition:opacity ease 0.2s; color:black; transition:color ease 0s;}
a:hover { text-decoration:none;  }
a img { border:0;}
.visible-mobile { display:none;}
.hidden-mobile { display:block;}
.fa.fa-angle-left:before { content:' '; }
.fa.fa-angle-left { background:transparent url(../images/angles.png) no-repeat 0 0; width:10px; height:14px; position:relative; top:2px; }
.white .fa.fa-angle-left { background-position:0 -161px; }
.fa.fa-search:before { content:''; }
.fa.fa-search { background:transparent url(../images/angles.png) no-repeat 28px -185px; height:100%;}
.fa.fa-times:before { content:''; }
.fa.fa-times { background: transparent url(../images/angles.png) no-repeat 0px -236px; height:15px; width:15px; position:relative; top:2px; }

.bfont { font-family: Arial; font-weight:bold; text-transform:uppercase; line-height:1 !important; direction: rtl;}
.font12 { font-size:12px;}
.font13 { font-size:13px;}
.font14 { font-size:14px;}
.font16 { font-size:16px;}
.font18 { font-size:18px;}
.font20 { font-size:20px;}
.font22 { font-size:22px;}
.font24 { font-size:24px;}
.font28 { font-size:28px;}
.black,a.black,.black a { color:black;}
.white, a.white, .white a{ color:white;}
a.black:hover,.black a:hover { color:#555; }
a.white:hover, .white a:hover{ color: #ccc;}
.bold { font-family:"Arial"; font-weight:bold;}
.light { font-family:"Gotham-light";}
.upper { text-transform:uppercase; direction: rtl;}
.relative { position:relative;}
.center { text-align:center; }

.angle-text.angle-left { height:14px; line-height:14px !important; display:inline-block; padding-left:14px; background-image:url(../images/angles.png); background-repeat:no-repeat; background-position:0 0; }
.white .angle-text.angle-left { background-position:0 -161px; }
.lh1 { line-height:1;}
.lh11 { line-height:1.1;}
.lh12 { line-height:1.2;}
.lh13 { line-height:1.3;}
.lh14 { line-height:1.4;}
.arial { font-family:Arial;}
.nowrap { white-space:nowrap;}
.col3-1 { width:324px; float:left;}
.col3-2 { width: 668px; float:left;}
.col2-1 { width:491px; float:left; }
.margin10 { margin:10px; }
.margin-r10 { margin-right:10px;}
.margin-t10 { margin-top:10px;}
.margin-b10 { margin-bottom:10px;}
.margin-rb10 { margin:0 10px 10px 0;}
.col3-2.margin10,.col3-2.margin-rb10 ,.col3-2.margin-r10{ width: 658px; }
.margin-b20 { margin-bottom:20px; }
.margin-t20 { margin-top:20px;}
.dark { background-color:black; color:white;}
.dark a,a.dark{ color:white;}
.dark a:hover,a.dark:hover { color:white; }
.grey { background-color:#e3e4e4; }
.green { background-color: #00732f; color:white; }
.green a { color:white;}
a.green:hover { color:#eee; }
.tleft { text-align:left; }
.tcenter { text-align:center; }
.green-text,.green-text a,a.green-text { color:#00732f;}
.green-text a:hover,a.green-text:hover { color:black;}
.red { color:#cc092f;}
a.red:hover { color:#cc092f; }
.border-b { border-bottom:1px solid #ccc;}
p { direction: rtl; }
.head40 { position: relative; padding: 0 5% 0 0;height: 40px; line-height: 40px !important; display: block;}
.head50 { position: relative;padding: 15px 20px 15px 0;height: 50px; font-size: 20px;line-height: 20px;font-family: "Arial"; font-weight:bold; }

.head40 .fa,.head40 .icon, .head50 .fa,.head50 .icon { position:absolute; left: 5%; }
.head40 .fa { font-size: 22px; top:0; height:100%; line-height: inherit;}
.head50 .fa { font-size: 22px; top:0; height:100%; line-height:50px; }

.page-title { line-height:24px; font-family:Arial; font-size:24px; font-weight:bold; padding:27px; margin: 0;}
.page-content {margin-left:10px; position: relative;}

.page-content .inner-content { padding:30px; font:13px / 1.54 Arial; color:black; background-color: white;}
.page-content.has-overlay .inner-content { background-color:#e4e4e4; }
.page-content .inner-content > div { margin:20px 0;}
.page-content .inner-content img { max-width: 100%; height:auto;}
.page-information { border-bottom:1px solid #ccc;  padding: 20px 30px 20px 20px; background-color: white;}
.social-share-buttons { margin: 20px -20px 0 -30px; line-height: 20px; height: 22px;}
.social-share-buttons * { box-sizing:content-box; }
.page-information.bottom .social-share-buttons { padding:0;}
.page-information.bottom { border-top:1px solid #ccc; padding-top: 0;}
.page-content .page-learn-more { float:none; display:block; margin-bottom:10px;}
.no-padding-top { padding-top: 0 !important;}
.table-wrapper { display:table; height:100%; width:100%;}
.middle-wrapper { display:table-cell; vertical-align:middle;}
.block-title .middle-wrapper { line-height:1;}
/* global components */
.arrows a { display:block; width:50px; height:50px; float:left; line-height: 50px; color: white; background: #cc092f url(../images/angles.png) no-repeat 21px -100px; outline: none;}
.arrows a.prev { margin-right:1px; background-position: 20px -61px;}
.arrows a.down { background-position: 15px -410px; }
.arrows a:hover,.indicators a:hover { background-color:#b2b2b2;}
.indicators a { display:block; width: 51px; height:50px; float:left; border-right: 1px solid white; line-height: 50px; text-align: center; font-size: 24px; color: white; background-color: #cc092f; outline: none;}
.indicators a.active { background-color: #e3e4e4; color: black;}

.icon { display:inline-block; width:20px; height:20px; background:transparent url(../images/sprite.png) no-repeat 0 0; }
.icon.icon-check { width:60px; height:60px; background-position: -211px -88px; }
.icon.icon-pages { width:60px; height:60px; background-position: -211px -156px; }
.icon.icon-pencil { width:60px; height:60px; background-position: -211px -30px; }
.icon.icon-card { width:60px; height:60px; background-position: -211px -283px; }
.icon.icon-winner { width:60px; height:60px; background-position: -211px -219px; }
.icon.icon-apply { width:60px; height:60px; background-position: -211px -346px; }
.icon.icon-calendar { background-position:-73px -64px; width:25px; height:25px;}
.icon.icon-media { background-position: -70px -97px;; width: 30px; height: 30px;}
.icon.icon-photo { width: 36px; height: 30px; background-position:-2px -152px; }
.icon.icon-video { width: 30px; height: 30px; background-position:-2px -182px; }
.icon.icon-news { width: 30px; height: 30px; background-position: -2px -120px; }
.icon.icon-prize { background-position:-70px -132px; width:30px; height:30px;}
.icon.icon-message { background-position:-70px -170px; width:30px; height:30px;}
.icon.icon-download { background-position:0 -215px; width:30px; height:30px;}
a:hover .icon.icon-download { background-position:-126px -172px;}
.icon.icon-newsletter { background-position:-70px -29px;  width:30px; height:30px;}
.icon.icon-mail { background-position: 0px -378px;  width:16px; height:12px;}
.icon.icon-print { background-position: 0px -352px;  width:18px; height:16px; margin-bottom:-2px;}
.no-border-bottom { border-bottom:0;}

.calendar { height:80px; width:58px; background: #b2b2b2 url(../images/sprite.png) no-repeat -113px -35px; text-align:center;} 
.calendar .date { font-size:16px; font-weight:bold; font-family:Tahoma; line-height:16px; padding-top: 22px; margin-bottom:9px;}
.calendar .month, .calendar .year { font-family:"Arial"; font-weight:bold; font-size:13px;  line-height:13px;}

.social-share-buttons { }
.social-share-buttons .share-button { float:right; width:100px;  line-height: 0; height: 20px;}
.social-share-buttons .share-button.gp { width:80px;}
.social-share-buttons .share-button.tw { width:105px;}
.social-share-buttons .share-button.unknown { width: 80px; text-align: left;}
.social-share-buttons .share-button.linkedin { text-align:left; width: 120px;}

.block-title { position:relative; float:right; padding:15px 60px 15px 0; height:50px;}
.block-title .icon { position: absolute; display:inline-block; right: 20px; top: 10px;}

.logo2-block { padding:10px 0; text-align:center; line-height:0; font-size:0;}
.logo2-block img { max-width: 94%; height:auto;}
ul.link-list,ul.link-list > li { list-style:none; margin-left:0; padding:0;} 
ul.link-list > li { line-height: 14px; background-color:#e3e4e4; border-bottom:1px solid white; font-size:14px;}
ul.link-list > li.last { border-bottom:0; }
ul.link-list > li > a { transition:font-size ease .3s; display:block; text-transform:uppercase; overflow:hidden; padding: 13px 5% 13px 15%;}


ul.link-list > li.has-sub-items { height:auto;}
ul.link-list > li.has-sub-items > ul { display:none; overflow:hidden; margin-left:0; padding-left:0; list-style:none; background-color:#f7f7f7;}
ul.link-list > li.has-sub-items.open > ul { display:block; }
ul.link-list > li.has-sub-items > ul > li > a { padding:12px 12% 12px 0; line-height:14px; display:block; text-transform:uppercase; font-size:13px; }
ul.link-list > li.has-sub-items > ul > li > a:hover,
ul.link-list > li.has-sub-items > ul > li.active > a,
ul.link-list:hover > li.has-sub-items > ul > li.active > a:hover { background:#cc092f url(../images/angle-left-white.png) no-repeat 95% 50%; color:white; }
/* ul.link-list:hover > li.has-sub-items > ul > li.active > a { background:transparent none; color:black; }  */
ul.link-list > li.has-sub-items.open > a { background-color:#f7f7f7; background-image:url(../images/angle-bottom.png); font-size:17px; }
ul.link-list > li.has-sub-items.open > a:hover { background-image:url(../images/angle-bottom-white.png);}
ul.with-left-angle > li > a { background-image: url(../images/angle-left.png); background-repeat:no-repeat; background-position: 5% 50%; }


ul.hover-red-bg > li > a:hover,
ul.link-list > li.has-sub-items.open > a:hover,
ul.hover-red-bg > li.active > a{ background-color:#cc092f; color:white; }
ul.hover-red-bg.with-left-angle > li > a:hover,
ul.hover-red-bg.with-left-angle > li.active > a{ background-image: url(../images/angle-left-white.png); }


.slideshow.image-slider { position:relative; margin:0 auto; width: 597px; height: 386px; overflow: hidden; background-color: black;}
.slideshow.image-slider .arrows { position:absolute; left:0; bottom:0; z-index:4;}
.slideshow.image-slider .slide { position:absolute;  z-index:1; width: 100%; display:none;}
.slideshow.image-slider .slide.active { z-index:3; display:block;}
.slideshow.image-slider .slide.next { display:block;}
.slideshow.image-slider .slide .image { height:336px;  width: 100%;}
.slideshow.image-slider .slide .info { background-color:black; color:white; height:50px; padding-left:116px; display:table-cell; vertical-align:middle; padding-right:10px; font-size:13px; overflow: hidden; direction: rtl;}










/*header bar */
header * { transition:color ease 0.2s; }
header.navbar-inverse { color:#fff; line-height:40px; padding:0;  border: 0;   min-height: 40px; }
header > .line1 { background-color:black;}
#top-bar { padding: 20px 0 75px; }
header .line1 .block { float:left; padding: 0 10px; height: 40px;}
header .line1 .block a { color:white; text-transform: uppercase;}
header .line1 .block.register { background-color:#cc092f; height: 30px; padding:0; margin-top: 5px; line-height: 30px; width: 133px; text-align: center; white-space:nowrap; overflow:hidden; }
header .line1 .block.register a { display:block; height:100%; line-height:30px !important;}
header .line1 .block.register a:hover { background-color:white; color:#cc092f !important; }
header .line1 .block.block2 { width: 210px; border-right:2px solid #262626; padding: 0; display: table-row;}
header .line1 .block.block2 a { line-height: 1; cursor:text; font-size:12px; display:block; text-align:center;  word-break: break-all;}
header .line1 .block.search { border-right:2px solid #262626; }
header .line1 .block.search a { opacity: 0.5; display:block; width: 80px; margin: 0 -10px; text-align: center; font-size: 20px; color: white; line-height: inherit;}
header .line1 .block.search a:hover { opacity:1; }
header .line1 .block.head-social a {  display:block; width:40px;  height: 100%; float: left;   opacity: 0.5;  line-height: inherit;  text-align: center;  font-size: 17px;}
header .line1 .block.head-social a:hover { opacity: 1;}
header .line1 .block.head-social { width: 143px;}
header .line1 .block.head-social a.youtube { background-position: -30px 10px; }
header .line1 .block.head-social a.twitter { background-position: -69px 10px; }
header .line1 .block.right { float:right; font-size:11px; color: #9E9E9E;}
header .line1 .block.right a { color: #B6B6B6;  padding: 0 5px;}
header .line1 .block.right a:hover { color:#fff !important; }
header .line1 .block .greenb { color: #00732f !important; }
header .line1 .block .white { color: #fff !important; }
header.is-default .line1 .show-search { display:none; }
header.is-search .line1 .show-search { display:block; }
header.is-search .line1 .show-search .fa.fa-times { }
header.is-search .line1 .show-default { display:none; }

.search-form { display:block; padding:0; margin:0; float: right; border-right:1px solid #4d4d4d; width: 594px; height: 40px;}
.search-form button.search { float:left;  margin:0; padding:0 10px;  line-height:30px; -webkit-appearance:none; border:0; margin-top:5px; height:30px; background-color:#cc092f; color:white;padding-left:40px; position:relative;}
.search-form button.search .fa.fa-search { width:22px; height: 22px; background-position: 0 -193px; top: 2px; position: absolute; left:10px;}
.search-form input { float: right;  height: 20px;   border: none; background-color: transparent; outline: none; color: white; text-align: right; padding-right: 10px; width: 480px; line-height: 20px; margin-top: 10px;}
header .line1 .close-search { width:50px; text-align:center; font-size:20px; color:#999; cursor:pointer; position: relative; line-height: 15px !important;}
header .line1 .close-search .fa { position:absolute; left:50%; margin-left:-7px; top:50%; margin-top:-7px; }


/* top bar */
#top-bar {}
#top-bar .logo { float:left; width: 60px; height: 80px; }
#top-bar .logo a { width:100%; height:100%;  display: block;}
#top-bar .logo a img { width: 100%; height: auto;}

/* navigation bar */
nav { position: absolute; z-index: 10; padding-bottom: 1px; width: 100%; top: 155px;}
nav.fixed { position:fixed; top:40px; }
nav ul, nav li { list-style:none; padding:0; margin:0; }
nav > .container { display:table;position:relative; }
nav > .container > ul { width: 100%; display:table-row; position:relative; }
nav > .container > ul > li { cursor:pointer; display:table-cell; text-align: center; background-color:#cc092f; height:36px; line-height:36px; border-right: 1px solid #de5f78; vertical-align: middle; padding: 0 5px;}
nav > .container > ul > li.active,
nav > .container > ul > li.on{  background-color:#e3e4e4;  }
nav > .container > ul > li.active > a,
nav > .container > ul > li.on > a{ color:black !important; }
nav > .container > ul > li.last { border-right:0; }
nav > .container > ul > li a { display:block; line-height: 1;}
nav .slidedown { display:none; position:absolute; z-index: 2; background-color:#e3e4e4; left:0; top:36px; height:396px; cursor:default; border-bottom: 3px solid black;}
nav .slidedown.simple { height:auto; width: 554px; padding:30px;}
/* nav ul.menu >li.active .slidedown { display:block;} */
nav .slidedown .block { margin-left:3%; float:left; width:47%; margin-top:3%; margin-bottom:3%;}
nav .slidedown .block.block1 { border-top:1px solid #f9fafa; width: 45%;}
nav .slidedown.simple .block.block1 { float:none; width:auto; margin:0; }
nav .slidedown .block.block1 > li { border-bottom:1px solid #f9fafa; }
nav .slidedown .block.block1 > li a { height:36px; line-height:36px; text-align:right; position:relative; color:black;}
nav .slidedown .block.block1 > li a:hover { color:#cc092f; }
nav .slidedown .block.block1 > li a .fa { position:absolute; left:0; top:10px;line-height:36px; font-size:20px; background-position:0 0;}
nav .slidedown .block.block1 > li a:hover .fa { background-position:0 -37px; }
nav .slidedown .block.block2 { width: 46%; }
nav .slidedown .block.block2 > .head40 { background-color:#cc092f; }
nav .slidedown .block.block2 > .content { background-color:#fff; color:black; font-size:12px; line-height:1.6; text-align:right; padding:30px; font:13px / 1.8 normal "Arial"; text-transform:none;}
nav .slidedown .head40 .fa { height:14px; top:12px; }

nav .slidedown .block.block3 { margin:30px; width: 438px;}

/*spotlight*/
.spotlight { margin-bottom:20px;}
.spotlight .slideshow { height:376px; overflow:hidden; width:100%; position:relative;}
.spotlight .slideshow > .slide { position:absolute; width:100%; height:100%; background-color:#e3e4e4; z-index:1;}
.spotlight .slideshow > .slide.active { z-index: 3;}
.spotlight .slideshow > .slide.prev,.slideshow > .slide.next { z-index:2;}
.spotlight .slideshow > .slide > .image { position:absolute; left:0; top:0; font-size:0; line-height:0; height:100%; display: block;}
.spotlight .slideshow > .slide > .image img { width:100%; height:100%; }
.spotlight .slideshow > .slide > .info { position:absolute; right:0; top:0; height:100%; }
.spotlight .slideshow > .slide > .info .title { margin-top:30px; background-color:#00732f; padding: 20px 30px 20px 50px; display: block; margin-left: -14px; color: white; }
.spotlight .slideshow > .slide > .info p { padding:26px 25px; font-family:"Arial"; line-height:22px;  }
.spotlight .slideshow > .arrows { position:absolute; bottom:0; right:30px; height:50px; width:101px; z-index:5;}









/*footer*/
footer {  background-color:#000; color: #B6B6B6; text-transform:uppercase; border-bottom:10px solid #cc092f;}
footer .links a { color: #B6B6B6; transition:color ease .2s;}
footer .links a:hover { color:#fff !important; }
footer .block1 { text-align: left;}
footer .block2 { background-color:#cc092f; height:60px; text-align: center; position: relative;}
footer .block1 .links { padding-top:15px; color:#b6b6b6; }
footer .block1 .copyright { font-family:"Myriad Pro" Tahoma; line-height:12px; padding-top:8px; text-transform: none;}
footer .block2 .icon { position:absolute; right: 20%; top: 25%;}
footer .block2 .tab1 a { display:block; margin-left: 20%; width: 41%; text-align:right; line-height: 15px; margin-top: 5.1%; color: white;}
footer .block2 .tab1 a:hover { color:black;}
.events-block { overflow:hidden;}
.events-block .container { margin-bottom:20px;}
.events-block .left,.events-block .right,.events-block .middle { float:left; height:540px;}
.events-block .left { background:transparent url(../images/fog.jpg) no-repeat 0 0; }
.events-block .right { background:transparent url(../images/fog.jpg) no-repeat 100% 100%; }
.events-block .has-head { position:relative;}
.events-block .middle { width:344px; }
.events-block .has-head .head { z-index:0; position:absolute; width:100%; height:100%; left:0; top:0; background-repeat:no-repeat; background-position:50% 100%;}
.events-block .has-head .words { position:relative; z-index:1; color:white; margin:40px 60px 0 40px; font-family:"Gotham-light"; line-height: 1.5; }
.events-block .has-head .yin { font-size:60px; line-height:60px; color:white; opacity:0.5; filter:alpha(opacity=50); position:absolute; right:20px; top:33px;}
.events-block .has-head .name { font-family:"Arial"; font-size:12px;  margin-right:60px; margin-top:15px; color:white; opacity:.6; filter:alpha(opacity=60); line-height:15px;}
.events-block .middle .line1 { padding: 15px 20px 15px 0; height: 90px;}
.events-block .middle .light { font-size:12px; font-family:"Arial"; line-height:20px; padding:26px 20px 10px 30px;  }
.events-block .middle .seemore { padding-right: 20px; padding-bottom: 15px; background-color: #e3e4e4;}
.events-block .middle .seemore a { color:#000; display:block; line-height: 30px !important; }
.events-block .middle .seemore a:hover { color:#666; }
.events-block .middle .seemore .fa { font-size:16px;}
.events-block .middle .line2 { height: 176px; overflow: hidden; background-color: #e3e4e4;}
.events-slider-block .title-line { float: none;}
.events-slider-block .title-line .arrows { position:absolute;  left:0; top:0;}
.events-slider-block .line5 { position:relative; padding:26px 95px 0 20px !important;}
.events-slider-block .line5 .title { color:black; text-transform:uppercase; height: 48px; display: block;}
.events-slider-block .line5 .calendar { position:absolute;  right:20px; top: 26px;  }
.events-slider-block .line5 .name { display:block; font: bold 12px / 12px "Arial"; margin-top:12px;}
.events-slider-block .seemore { padding-right: 20px; padding-bottom: 15px; background-color: #e3e4e4; padding-top: 20px; }
.events-slider-block .seemore a { color:#000; display:block; line-height: 30px !important; }
.events-slider-block .seemore .fa { font-size:16px;}
.events-slider-block .slides-wrapper { position:relative; overflow:hidden; height: 179px; background-color: #e3e4e4;}
.events-slider-block .slides-wrapper .slide { position:absolute; left: 0; top:0; left:-1000px; width: 100%;}
.events-slider-block .slides-wrapper .slide.active { left:0; }


.media-block { }
.media-block .container.title { margin-bottom:10px;}
.media-block .arrows { float:right;}



.winners-block { margin-bottom:20px; }
.winners-block .slides-wrapper { height:200px; overflow:hidden; position:relative;}
.winners-block .slides-wrapper .slide { position:absolute; left:0; top:0; z-index: 1; top:500px;}
.winners-block .slides-wrapper .slide.active { z-index:3; top:0;}
.winners-block .arrows { float:right;}
.winners-block .block-title .icon {;  }
.winners-block .container.title { margin-bottom:10px; height: 50px;}
.winners-block .item { height:200px;}
.winners-block .item .left { width:291px; float:left; position:relative;}
.winners-block .item .right { width:200px; float:right; }
.winners-block .item .right img { width:100%; height: auto;}
.winners-block .item .left .icon { width:30px; height:30px; position:absolute; right: 10%; top:20px; background-position:0px -246px; }
.winners-block .item .line1 { line-height: 1.25; width:200px; float:right;  padding-right: 10%; margin-top: 21%;  }
.winners-block .item .line2 { float:right; padding-right: 10%;  width:240px; margin-top: 9%; }
.winners-block .item .line3 {float:right; padding-right: 10%; width:200px; line-height: 1.66; }


.messages-block { margin-bottom:20px; height:50px; line-height: 50px;}
.messages-block .block-title:hover { color:white;}
.messages-block .container { background-color:#e3e4e4; }
.messages-block .slides-wrapper { float:right; width: 465px; height:50px; overflow:hidden; position:relative;  border-right: 1px solid #b6b6b6;}
.messages-block .slides-wrapper .slide { position:absolute; right:0; top:1000px; }
.messages-block .slides-wrapper .slide.active { top:0; }
.messages-block .message { float:right;   padding-right: 10px; display: table; line-height: 18px; height: 50px; overflow: hidden;}
.messages-block .message .message-inner { display:table-cell; vertical-align:middle; padding:0 5px;}
.messages-block .message .message-inner .time { white-space:nowrap;}
.messages-block .download { width:50px; float:right; height:50px; font-size: 0;}
.messages-block .download a { display:block; width:100%; height:100%; padding: 10px;}
.messages-block .indicators { width: 153px; height: 100%; float: left;}




.media-items { overflow:hidden; position: relative;}
.media-items .media-items-wrapper { width: 3340px; position: relative;}
.media-item { float:left; background-color:#e3e4e4; height:262px; position:relative; color:black !important; overflow:hidden;}
.media-item  .slides-wrapper { position:relative; top:0; transition:top ease .2s; }
.media-item:hover .slides-wrapper { top:-262px; }
.media-item  .info { height:80px; position:relative; padding-right: 60px; padding-top: 14px; font-family:"Arial"; padding-left: 5px;}
.media-item  .info .icon { position:absolute; right:10px; top: 25px; }
.media-item  .info .date { font-size:12px; line-height: 14px;}
.media-item  .info .title { line-height: 16px; height: 32px; overflow: hidden;}
.media-item  .slide.hover .info .description,
.media-item  .slide.hover .info .viewmore{ margin-top:10px;}
.media-item  .thumb { position:relative; height: 182px; display:block;}
.media-item  .thumb img { width:100%; height:100%;}
.media-item .thumb4 { height:182px; width:100%; }
.media-item .thumb4 img { width:50%; height:50%; float:left; }
.media-item .info.red { background-color:#cc092f; color:white; padding-top: 20px; padding-right: 20px;}
.media-item .info.red .fa.fa-angle-left { top:1px;}

.video { position:relative; }
.video img { width:100%; height: auto; }
.video > .fa { position:absolute; left:50%; top:50%; width: 60px; height: 60px; margin-left:-30px; margin-top:-30px; background-image: none; line-height: 60px; text-align: center; font-size: 67px; color:white; color: rgba(255,255,255,0.8);}

.series-block { margin-bottom:10px; overflow: hidden;}
.series-block .block { float:left; height:212px; margin:0 10px 10px 0;  position:relative; padding: 20px;}
.series-block .block.block1 { height: 100px;}
.series-block .block.block1 .line1 { line-height: 1.75 !important; }
.series-block .block.block1 .line2 { line-height: 1.66; }
.series-block .block.block1 i { font-family:"Gotham-light"; font-style:italic; }
.series-block .block.block2 { height:100px; margin:0 0 10px 0; padding:20px 0; text-align:center; float: right;}

.series-block .block.green { width:213px; overflow:hidden; padding: 0;}
.green-hover-block .slides-wrapper { height:100%; position:relative; width:100%;}
.green-hover-block  .slides-wrapper .tab { position:absolute; height:100%; width:100%; top: 0; transition:top ease .2s;}
.green-hover-block  .slides-wrapper .tab.hover { top: 100%;}
.green-hover-block:hover .tab { top:-100%;}
.green-hover-block:hover .tab.hover { top:0;}
.green-hover-block  .slides-wrapper .tab .tab-inner { padding: 20% 14% 0 14%; font-family:"Arial"; line-height: 25px;}
.green-hover-block  .icon { position:absolute; top: 22%; left:50%; margin-left:-30px; background-image: none; width: 60px; text-align: center;}
.green-hover-block  .title { position:absolute; top: 63%; text-align:center; left: 0; padding: 0 5%; width: 100%;}

.series-block .block.block4 { width:212px; }
.series-block .block.block6 { margin:0 0 10px 0; font-family: "Arial"; line-height: 1.5; float: right;}


.social-block { margin-bottom:20px;}
.social { height:400px; overflow:hidden; float: right;}
.social > .title { }
.social > .content { padding: 6%; }
.social.instagram .content { padding-right: 0;}
.social.instagram .content > a { float:left; width: 45.3%; height: auto; margin: 0 3% 3% 0; overflow:hidden; font-size: 0;}
.social.instagram .content > a img { width:100%; height: auto;}
.social.youtube > .content  { line-height: 1.5; font-family:"Arial"; }
.social.youtube > .content .title { margin-top:20px;}
.social.youtube > .content .description { padding-left:50px;}
.social.twitter .tweet { line-height: 1.5; font-family:"Arial"; padding-bottom:22px; border-bottom:1px solid #bdbdbd; margin-bottom:22px;}
.social.twitter .tweet .content {display:block;}
.social.twitter .tweet.last { border-bottom:0;}

footer .newsletter .tab { display:none; }
footer .newsletter .tab.tab1 { display:block; cursor:pointer; }
footer .newsletter .tab.tab2 { padding:10px 0; height: 100%;}
footer .newsletter .tab.tab2 .close { width: 12%; height: 100%; float:left; background: transparent url(../images/angles.png) no-repeat 12px -223px;; opacity:1; filter: alpha(opacity=100);}
footer .newsletter .tab.tab2 form { float:left; width: 84.5%; padding: 1.5%; background-color:white; height: 100%; margin:0;}
footer .newsletter .tab.tab2 form button { outline:none; float:left; padding:0; height: 100%;border:0; background-color:#cc092f; color:white; text-transform:uppercase; width: 26%; line-height:30px; }
footer .newsletter .tab.tab2 form input { float:left;  border:0; padding:0; width: 73%; height: 100%; line-height:30px; outline:none; text-align:right;}
footer .newsletter .tab.tab2 form input::-webkit-input-placeholder { color:black; }


#top-bar {  }
#top-bar.small { padding: 0; height: 0; overflow: hidden;}
#top-bar.small .logo {height: 60px; width: 41px;}
#top-bar .banner { height: 55px; }
#top-bar.small .banner { height: 10px; }
#top-bar .banner img  { max-height:100%; max-width:100%;}


.green-blocks-section .green-hover-block { width:190px; height:190px; float:left; overflow:hidden; margin-right:10px;}
.green-blocks-section .green-hover-block._apply { margin-right:0; width:191px; }
.green-blocks-section .green-hover-block .slides-wrapper .tab .tab-inner { line-height:1.2;}
.green-blocks-section .green-hover-block .title { font-size:16px; }


.page-tools .function-button { float:right; padding:0 10px; height:20px; line-height:20px; border-right:1px solid #ccc; text-transform:uppercase; color:#666; font-size: 12px; font-family: Arial;}

.active .icon-mail { background-position: 0 -402px; }
.page-tools a.function-button:hover { color:black;}
.page-tools .function-button .fa { color:black;  font-size:150%;}
.page-tools .function-button.page-text-size { border-right:0; padding-right: 0;}

.page-text-size b { color:black; position:relative; top: -1px; padding:0 2px; cursor:pointer;}
.page-text-size b.bigger { font-size:16px;}
.page-text-size b.normal { font-size:14px; }
.page-text-size b.smaller { font-size:12px; }
.page-text-size b.active { text-decoration:underline; }

.left-right-section .contentbar { float:right; }
.left-right-section .sidebar { float:left; }


.category-block .block-title { float:none ; padding-right: 30px; }
.category-block .block-title > a.more { position:absolute; top:0; left:0; padding:0px 20px 0 34px; background: #cc092f url(../images/angles.png) no-repeat 12px -62px; height:100%; line-height:50px !important; border-right:1px solid white;}
.category-block .block-title > a.more:hover { color:white;}
.categories-wrapper .category-item{ border-bottom:1px solid #ccc; padding:10px 30px 10px 0; position: relative;}
.category-block.last .category-item { border-bottom:0; }
.categories-wrapper .category-item .category-left {  position:absolute; width: 27%; text-align:center; height:100%; left: 0; top: 0; vertical-align: middle;}

.categories-wrapper .category-right { list-style:none; margin: 0 0 0 27%; padding: 0;}
.categories-wrapper .category-right a { font:bold 14px / 1.7 "Arial"; }

.accordion-block .block-title { width:auto; float:none;  padding: 0 4% 0 14%; background: black url(../images/cross-white.png) no-repeat 2% 50%; cursor:pointer;  font-size: 15px !important;}

.accordion-content-wrapper { background-color:white; display:none; }
.accordion-content-wrapper .accordion-content { padding:30px; font: 13px / 1.54 Arial; color:black;}
.accordion-content-wrapper img { max-width:100%;}
.accordion-block.open .accordion-content-wrapper { display:block;}
.accordion-block.open .block-title { background-image:url(../images/minus-white.png); }

.illustration { height:518px; text-align:center;}

.winner-block { padding: 0 30px 20px 30px; border-bottom:1px solid #ccc; background-color:white;}
.winner-block .winner-title { line-height: 1; padding: 1em 0 .5em;}
.winner-block .winner-name { margin: .5em 0;}
.winner-block .winner-item { position:relative; padding-right:76px; min-height:60px; margin-top: .5em;}
.winner-block .winner-item .winner-logo { position:absolute; right:0; top:0; border: 1px solid #eee;}

ul.participating { list-style:none; margin: 0; padding:20px 30px;}
ul.participating li { padding:4px 0; }
ul.participating a { font:bold 14px / 1 "Arial"; }

.input-group { display: block; margin-bottom: 15px; line-height:50px; }
.input-group.buttons-line { border-top:1px solid #ccc; padding-top:20px; height:70px;}
.input-group label { float:right; width:110px;}
.input-group .text-input { line-height:1; float:right; height:50px; padding:15px 5px; margin:0; border:none; background-color:#e3e4e4; width: 393px; font-size: 20px; text-align: right;}
.input-group textarea.text-input { height:100px; }
.input-group .button-input { border:none; padding:0 25px;margin:0; display:block; float:right; margin-left:20px; font-size:16px; color:white; text-transform:uppercase; font-weight:bold; font-family:Arial; height:40px; line-height:40px; background-color:black;}
.input-group .button-input.red-button { background-color:#cc092f; }
.input-group .button-input.green { background-color:#00732f; }
.input-group .help-text { float:right; padding-right:20px;}
.input-group .help-text.error { float:left; line-height:1.6; font-size: 12px; color: #cc092f; display: none;}
.login-content-inner { padding: 20px 30px 0 0;}
.login-content .container { background-color:white;}
.login-content form { margin-top:30px;}
.login-content form .input-group { padding-right:30px;}

.button { height:40px; line-height:40px; padding:0 35px; background-color:#e3e4e4; text-align:center; display:table; text-transform:uppercase; font-size:16px; font-weight:bold; font-family:Arial; color:#cc092f; cursor:pointer; }
.button.white-button { background-color:white; color:#cc092f; }
.button.red-button { background-color:#cc092f; color:#fff;   }
.register-participation-button { padding-left:1em; padding-right:1em; float:right;}

.events-login-wrapper { position:absolute; left:3%; top:24%; }
.events-list-content .container { overflow:hidden;}
.events-list-page-filter .arrows { float:right; width: auto;}
.events-list-page-filter .select-wrapper { float:right; position:relative;}
.events-list-page-filter .select-wrapper select { position:absolute; left:0; right:0;top:0; bottom:0; border:none; -webkit-appearance:none; opacity:0; filter: alpha(opacity=0); cursor:pointer; height:50px; width:100%; line-height:50px;}
.events-list-page-filter .select-wrapper .select-value { cursor:pointer;float:right; width:200px; background-color:#e3e4e4; height:50px; line-height:50px;padding-right:20px;}
.events-list-page-filter.on-media-page .select-wrapper .select-value { width: 375px; }
.events-list-page-filter .block-title { width:233px; padding-right: 30px; text-align: right;}
.events-list-page-filter form button { border:none;}

.events-list-container { margin-right:-40px; }
.event-item { float:left; width:233px; height:236px; margin:0 20px 20px 0; background-color:white; padding:20px;}
.event-item .calendar { float:right; clear:both; }
.event-item .title { clear:both; display: block; padding-top: 22px; height:100px; overflow:hidden; line-height:16px !important;}
.event-item .title:hover { color:#666;}
.event-item .name { display: block; }

.pagination-section .arrows { float:left;}
.pagination-section .pages { float:right;}
.pagination-section .pages a { float:right; height:50px; width:50px;text-align:center; border-right:1px solid white; background-color:#cc092f; line-height:50px; color:white; font-size:20px; font-family:Arial; font-weight:bold;}
.pagination-section .pages a.active { color:black; background-color:#e3e4e4; cursor:default; }

.events-login-wrapper .avatar { float:left; width:40px; height:40px; line-height:0;}
.events-login-wrapper .avatar img { width:100%; height:100%;}
.events-login-wrapper .actions { width:40px;background-color:white; float:left;margin-left:1px; height:40px; position:relative; }
.events-login-wrapper .actions .submenus { padding:1px 0 0; width:205px;display:none;  position:absolute; top:40px; left:0; list-style:none; margin: 0; z-index: 10;}
.events-login-wrapper .actions .down { display:block; width:100%; height:100%; background: transparent url(../images/angles.png) no-repeat 10px -511px; }
/* .events-login-wrapper .actions:hover .down, */
.events-login-wrapper .actions.active .down{ background-color:#e3e4e4; background-position:10px -552px; }
/* .events-login-wrapper .actions:hover .submenus, */
.events-login-wrapper .actions.active .submenus{ display:block;}
.events-login-wrapper .actions .submenus li {background-color:#e3e4e4; line-height:38px; border-bottom:1px solid white; margin:0; }
.events-login-wrapper .actions .submenus li a { display:block; padding:0 20px; font-family:Arial; background: transparent url(../images/angles.png) no-repeat 18px 12px; }
.events-login-wrapper .actions .submenus li a:hover { background-color:#cc092f; color:white; font-weight:bold; background-position: 18px -149px;}
.events-login-wrapper .welcome { float:left; color:white; padding-left:10px; line-height:20px; font-family: Arial; font-size: 14px; text-align: left;}
.events-login-wrapper .welcome b { display:block; font-size: 16px; font-weight: bold;}

.events-manage-content .container { padding:0 20px; background-color:white;}
.events-manage-content .pagination-section { padding:20px 0; }
.events-manage-table { display:table; width:100%; }
.events-manage-table .tr { margin:0; position:relative; clear:both; display:table-row; border-bottom:1px solid #ccc; }
.events-manage-table .tr .cell { display:table-cell; vertical-align: middle; border-bottom:1px solid #ccc; position:relative; padding:20px;}
.events-manage-table .tr .cell.no-padding-left { padding-left:0 !important;}
.events-manage-table .tr .cell:last-child .line{ display:none;}
.events-manage-table .cell.no-padding-right { padding-right:0 !important;}
.events-manage-table .tr .cell .line { position:absolute; width:1px; top:20px; bottom:20px; background-color:#ccc; right:0; }
.events-manage-table .tr.head .cell { padding:0 20px 5px 20px; font: bold 16px / 16px Arial; text-transform:uppercase; }
.events-manage-table .tr .cell .calendar { position:absolute; right:0px; top:50%; margin-top:-40px;}
.events-manage-table .tr .cell.last .relative { padding-right:75px;}
.events-manage-table .with-icon { background:transparent url(../images/sprite.png) no-repeat 0 0; display:block; height:30px; line-height:30px; padding-right:38px; }
.events-manage-table .with-icon.icon-view { background-position: 39px -285px; }
.events-manage-table .with-icon.icon-edit { background-position: 42px -315px; }

.content-left-column { width: 233px; float:left; }
.content-right-column { width:75.5%; float:right;}
.event-detail-section .block-title { width:auto; float:none; display: block; padding-right: 20px;}
.event-detail-section .content-left-column .event-item { margin:0 0 20px 0;}

.block.event-detail { background-color:white; position: relative;}
.block.event-detail .block-head { padding: 0 30px 30px 0; border-bottom:1px solid #ccc;}
.block.event-detail .block-content { padding: 30px 110px 20px 30px; position:relative;}
.block.event-detail .calendar { right:30px; top:30px; position:absolute; }
.block.event-detail h2 { padding:0; margin:0; line-height:1 !important; font-family: Arial; font-weight: bold;}
.block.event-detail .info { line-height: 40px !important; }
.block.event-detail .desc { font:normal 13px / 1.53 Arial; color:black;}

.button.big { height:50px; line-height:50px; padding:0 50px;  font-size:20px; background-color:#cc092f; color:white;}
.button.big.active { color:black; background-color:#e3e4e4;}
.event-detail-section .accordion-block .tab-head .button{ float:right; margin-right:10px; }
.event-detail-section .accordion-block .tab-head .button:first-child { margin-right:0;}
.event-detail-section .accordion-block .tab-content-wrapper .tab { display:none;}
.event-detail-section .accordion-block .tab-content-wrapper .tab.active { display:block;}

.event-agenda-line { width: 521px; border-bottom:1px solid #ccc; line-height:1.1; position:relative; padding-bottom: 15px;}
.event-agenda-line .title { line-height: 1.2; padding: 20px 0 15px; }
.event-agenda-line .time { position:absolute; right:-165px; top: 50%; width: 165px; font-size: 18px; font-weight: bold; color: #00732f; font-family: Arial; margin-top: -9px;}
.event-agenda-line.last { border-bottom:0; }

.media-item.small { width:210px; height: 198px;}
.media-item.small .thumb { height:120px; }
.media-item.small .info { height:78px; padding-top: 5px;}
.media-item.small .thumb4  {height: 120px;}
.media-item.small:hover .slides-wrapper { top: 0; }
.media-item.small .info .title { line-height:16px; height:48px; }
.media-item.small.photo .slide.hover .info .viewmore { margin-top: 25px; }
.media-item.small .slide.hover .info .viewmore { margin-top: 15px; }
.media-item.small .slide.hover .info .description { line-height:1; } 

.event-detail-section .small-media-wrapper .media-item{ margin-right: 29px; margin-bottom: 30px;}
.event-detail-section .small-media-wrapper .media-item:last-child { margin-right:0;}
.event-detail-section .accordion-block.documents .accordion-content { padding: 10px 30px 10px 0; border-bottom:1px solid #ccc; }
.event-detail-section .accordion-block.speakers .accordion-content { padding-bottom:20px;border-bottom:1px solid #ccc; }

.download-line { display:block; height:40px; line-height:40px; position:relative; padding-right:40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.download-line .icon { position:absolute; right:0; top:5px;}

.speakers-wrapper { margin-right:-30px; }
.speakers-wrapper .speaker { float:right; width:121px; margin-right:21px;}
.speakers-wrapper .speaker .avatar img{ width:100%; height:auto;}
.speakers-wrapper .speaker .name { height: 50px; line-height:15px; overflow:hidden; padding-top:5px; padding-right: 2px;}
.accordion-block.more-events .accordion-content-wrapper .accordion-content { padding:0; }
.accordion-block.more-events .block-title { background-image:none; cursor:default; }

.block.event-register { border-top:1px solid #ccc; margin-right:-80px; margin-top: 10px;}
.block.event-register .block-content { padding-right:80px; padding-top: 0; padding-bottom: 0;}
.block.event-register h2 { padding: 16px 0;}

.block.event-register .block.participant .block-content { padding:0;}
.block.event-register .block.participant { border-bottom:1px solid #ccc; width:504px; float:right;  margin-top: 10px;}
.block.event-register .block.participant:first-child { border-top: 1px solid #ccc; }
.block.event-register .block.participant .title { height:60px; line-height:60px; font-size:22px; color: #00732f ; text-transform:uppercase;}
.block.event-register .input-group.buttons-line { border-top:0; margin-bottom: 0; height: 60px;}

.media-center-items-wrapper { margin-right: -10px;}
.news-title-text { margin:0; }
.page-content .inner-content .news-image { margin: 30px -30px; position: relative;}
.page-content .inner-content .news-image.has-play-icon { cursor:pointer;}
.page-content .inner-content .news-image .fa { transition:opacity ease .2s; position:absolute; width:60px; height:60px; left:50%; top:50%; margin:-30px 0 0 -30px; font-size:68px; line-height:60px; text-align:center; color:white; opacity:0.9; filter:alpha(opacity=90);}
.page-content .inner-content .news-image:hover .fa { opacity:1; filter:alpha(opacity=100);}
.page-content .inner-content .news-image img { width:100%; height:auto;}

.page-content.testi-wrapper { border-top:1px solid #ccc; background-color:white; }
.testi-item { padding:30px 0; border-bottom:1px solid #ccc; margin:0 30px;}
.testi-item.last {border-bottom:0;}
.testi-item.has-image > .left { float:left; width:400px; }
.testi-item.has-image > .right { float:right; width: 168px;}
.testi-item.has-image > .right img { width:100%; height:auto;}
.testi-item > .left { padding-right:40px; }
.testi-content { position:relative; padding:0 0px 0 10px;}
.testi-content b { color:black; font-size:128%; font-weight:normal; }
.testi-content .quote { position:absolute; font-size:60px; right:-40px; top:2px; background-image:url(../images/quote1.png); width:25px; height:18px;}
.testi-content .quote.quote2 { right:auto; left:0; top:auto; bottom:-18px; background-image:url(../images/quote2.png);}
.testi-pagination { margin:20px 0 20px 10px; }
.page-information.only-share { padding: 0 0px 20px 0; }
.page-information.only-share .social-share-buttons {margin: 0;padding-top: 0;height: auto;}
.photo-gallery-slideshow { width:648px; margin: 0 0 0 -25px !important; height:182px; position:relative;}
.photo-gallery-slideshow .arrows > a{ position:absolute; left:-5px; top:66px; z-index:5;}
.photo-gallery-slideshow .arrows > a.disabled { display:none;}
.photo-gallery-slideshow .arrows > a.next { left:auto; right:-5px; }
.photo-gallery-blocks { overflow:hidden; width:100%; height:100%; position:relative; }
.photo-gallery-blocks > .inner { height: 100%; width:10000%; position:relative;}
.photo-gallery-block { height:100%; width: 324px; float:left; background-color:black;}
.photo-gallery-block img { width:50%; height:50%; float:left; cursor:pointer; }
.photo-gallery-block img.active { opacity:0.4; filter:alpha(opacity=40); }
#photo-gallery-detail-big-image { margin-bottom:0;}
#photo-gallery-detail-big-image-info { margin:0; line-height:30px;}

.block.strange-block { margin:20px 0 20px 10px;}
.strange-block .block-head { height:50px; margin-bottom:10px;}
.strange-block .block-head .arrows > a { float:left; width:189px; line-height:0; height:auto;}
.strange-block .block-head .arrows > a img{ width:100%; height:auto;}
.strange-block .block-head .arrows > a.next {float:right; }
.strange-block .slide-items-wrapper { height:263px; position:relative; overflow: hidden;}
.strange-block .block-content > .slide-items-wrapper > .slide-item { z-index:1; position:absolute; left: 1000px; top:0; width:668px;}
.strange-block .block-content > .slide-items-wrapper > .slide-item.active { left:0;}
#video-gallery-detail-big-image { margin-bottom:-31px;}
.accordion-block.media .accordion-content { padding-right:0; padding-bottom:0;}

.events-manage-table .tr .cell .more { background: transparent url(../images/angles.png) no-repeat 0 0px;  padding-left: 12px; display: inline-block; line-height: 15px; height: 15px;}

.events-manage-table .tr .cell .more { background: transparent url(../images/angles.png) no-repeat 0 0px;  padding-left: 12px; display: inline-block; line-height: 15px; height: 15px;}

/**styles added Abdul Wahhab**/
.FAQsQ{
 text-transform:none;
 direction:rtl;
}
.FAQsCopy{
 padding:10px 30px;
 text-align:right;
 direction:rtl;
}
.extra-page .col3-1 { float:right;}
.extra-page .col3-2 { float:right;}

.publications-page .col3-1, .e-library-page .col3-1 { width:324px; float:right;}

.publications-page .col3-2, .e-library-page .col3-2 { width: 668px; float:right;}
.contact-us-page .col3-1 h4, .extra-page .col3-1 h4{float:right;width:322px;background:#000;height:50px;color:#fff;font-weight:bold;padding:15px;margin:60px 0 0 0;width:100%;}

.contact-enquiry{float:right;margin:0 0 0 0;padding:30px 30px 0 30px;border-top:1px solid #cccccc;background:#fff;}
.AR .contact-enquiry {direction:rtl;}
.map{float:right;padding:15px 0;}
.map img{width:100%;}
.enquiry{float:right;width:100%;height:40px;color:#fff;background:#cc092f;border:0;margin:5px 0 20px 0;}
.articles-library-detailed, .publications-library {float:right;}
.publications-library ul, .e-library ul{float:right;width:auto;margin:0 0 0 0;padding:0;list-style:none;}
.publications-library ul li, .e-library ul li{float:right;width:219px;margin:0 0 10px 0;padding:0 0 0 0;text-align:center;position:relative;cursor:pointer;}

.publications-more-copy, .e-library-more-copy{float:right;width:212px;height:auto;background:#e3e4e4;margin:0 4px 0 0;text-align:right;}
.publications-more-copy, .e-library-more-copy{padding:15px 20px 0 20px;}
.publications-more-copy-slide, .e-library-more-copy-slide{position:absolute;bottom:0;background:#e3e4e4;right:4px;width:212px;height:100%;padding:0 20px 0 20px;text-align:right;display:none;}
.publications-more-copy-slide h5, .e-library-more-copy-slide h5{font-weight:bold;direction:rtl;}
.publications-more-copy p, .e-library-more-copy p{float:right;width:135px;padding:0 10px 0 0;direction:rtl;}

.publications-more-copy.publications span, .e-library-more-copy.publications span{float:right;width:26px;height:28px;background:url(../images/e-library-sprite.png) -28px 0 no-repeat;margin-top:5px;}

.publications-more-copy.articles span, .e-library-more-copy.articles span{float:right;width:26px;height:28px;background:url(../images/e-library-sprite.png) -28px -28px no-repeat;margin-top:5px;}

.publications-more-copy.books span, .e-library-more-copy.books span{float:right;width:26px;height:28px;background:url(../images/e-library-sprite.png) 0 0 no-repeat;margin-top:5px;}

.publications-more-copy.newsletter span, .e-library-more-copy.newsletter span{float:right;width:26px;height:28px;background:url(../images/e-library-sprite.png) 0 -28px no-repeat;margin-top:5px;}

.about-publication{float:right;width:657px;height:auto;padding: 0px 28px 0 0;background:#fff;}
.about-publication .first-pane{float:right;width:417px;height:auto;padding:0 0 78px 0;}
.about-publication .first-pane h4{color:#000;font-size:28px;font-weight:bold;padding:0;margin:0;}
.about-publication .first-pane h6{font-size:16px;font-weight:bold;padding:10px 0;margin:0;}
.about-publication .first-pane > p{direction:rtl;text-align:right;font-size:13px;font-family:arial;padding: 10px 0 30px 10%;clear:right;}
.publication-url{float:right;width:auto;clear:both;margin-top:-78px;}
.publication-url p{float:right;text-transform:uppercase;font-size:16px;font-weight:bold;font-family:arial;padding:19px 0;}
.publication-url span{float:right;background:#e3e4e4;margin:0 20px 0 0;padding:19px 11px;}
.publication-article-visual{float:left;width:auto;}
.publication-article-image{float:left;width:auto;}
.download-pdf{float:left;clear:both;width:212px;height:81px;text-transform:uppercase;background:url(../images/download-pdf.png) 85% 50% no-repeat #e3e4e4;font-size:12px;}
.download-pdf a{padding:30px 59px 30px 0;float:right;width:100%;text-align: center;}
.publications-large-image{float:left;width:auto;margin-top:20px;}
.contact-us-form{float:right;padding:0 26px 0 30px;background:#fff;width:100%;}
.contact-us-form h2{font-weight:bold;padding:0 0 20px 0;}
.contact-us-form fieldset{float:right;width:100%;margin-bottom:20px;}
.contact-us-form fieldset label{float:right;text-align:right;direction:rtl;width:auto;font-size:13px;font-family:arial;font-weight:bold;padding-left:40px;padding-top:16px;width:110px;}

.contact-us-form fieldset input{float:right;width:490px;background:#e3e4e4;border:0;height:50px;padding:5px;text-align:right;direction:rtl;}
.contact-us-form fieldset textarea{float:right;width:490px;background:#e3e4e4;border:0;height:139px;padding:5px;text-align:right;direction:rtl;}
.save-edit-profile-form, .submit-contact-form{float:right;width:100%;border-top:1px solid #cccccc;padding:20px 110px 20px 0;}

.save-edit-profile-form #save, .submit-contact-form #submit{float:right;width:119px;height:40px;background:#cc092f;border:0;padding:8px 30px 7px 30px;color:#fff;font-family:arial;font-weight:bold;font-size:16px;margin:0 0 0 10px;}
.save-edit-profile-form #cancel, .submit-contact-form #cancel{float:right;width:119px;height:40px;background:#000;border:0;padding:8px 30px 7px 30px;color:#fff;font-family:arial;font-weight:bold;font-size:16px;margin:0 10px 0 0;}
.contact-us-page .col3-1{float:left;}

.contact-us-page .col3-2{float:right;}
.edit-profile-page .col3-3{float:right;width:100%;background:#fff;}
.edit-profile-form{float:right;width:100%;padding:30px 30px 0 30px;}
.edit-profile-page .events-login-wrapper{top:3%;}
.edit-profile-form fieldset{float:right;width:100%;margin-bottom:20px;}
.edit-profile-form fieldset label{float:right;text-align:right;direction:rtl;width:auto;font-size:13px;font-family:arial;font-weight:bold;padding-left:40px;padding-top:16px;width:189px;}
.edit-profile-form fieldset input{float:right;width:490px;background:#e3e4e4;border:0;height:50px;padding:5px;text-align:right;direction:rtl;}
.edit-profile-form fieldset input.logo-upload { width:auto; height:30px; background-color:white; margin-top:10px;}
.edit-profile-form fieldset span{font-family:arial;font-size:15px;font-weight:bold;padding:15px 0 0 0;float:right;height:50px;vertical-align:center;}
.save-edit-profile-form{padding-right:189px;}
.edit-profile-form .help-text.error {float: right;line-height: 1.6;font-size: 12px;color: #cc092f;width:100%;padding:0 190px 0 0;}
.extra-page .page-content{font-size:13px;}
.company-logo{float:right;padding:0 10px 0 20px;}
.media-center-items-wrapper { margin-right: -10px;}
.news-title-text { margin:0; }
.page-content .inner-content .news-image { margin: 30px -30px; position: relative;}
.page-content .inner-content .news-image.has-play-icon { cursor:pointer;}
.page-content .inner-content .news-image .fa { transition:opacity ease .2s; position:absolute; width:60px; height:60px; left:50%; top:50%; margin:-30px 0 0 -30px; font-size:68px; line-height:60px; text-align:center; color:white; opacity:0.9; filter:alpha(opacity=90);}
.page-content .inner-content .news-image:hover .fa { opacity:1; filter:alpha(opacity=100);}
.page-content .inner-content .news-image img { width:100%; height:auto;}

.page-content.testi-wrapper { border-top:1px solid #ccc; background-color:white; }
.testi-item { padding:30px 0; border-bottom:1px solid #ccc; margin:0 30px;}
.testi-item.last {border-bottom:0;}
.testi-item.has-image > .left { float:left; width:400px; }
.testi-item.has-image > .right { float:right; width: 168px;}
.testi-item.has-image > .right img { width:100%; height:auto;}
.testi-item > .left { padding-right:40px; }
.testi-content { position:relative; padding:0 0px 0 10px;}
.testi-content b { color:black; font-size:128%; font-weight:normal; }
.testi-content .quote { position:absolute; font-size:60px; right:-40px; top:2px; background-image:url(../images/quote1.png); width:25px; height:18px;}
.testi-content .quote.quote2 { right:auto; left:0; top:auto; bottom:-18px; background-image:url(../images/quote2.png);}
.testi-pagination { margin:20px 0 20px 10px; }
.page-information.only-share { padding: 0 0px 20px 0; }
.page-information.only-share .social-share-buttons {margin: 0;padding-top: 0;height: auto;}
.photo-gallery-slideshow { width:648px; margin: 0 0 0 -25px !important; height:182px; position:relative;}
.photo-gallery-slideshow .arrows > a{ position:absolute; left:-5px; top:66px; z-index:5;}
.photo-gallery-slideshow .arrows > a.disabled { display:none;}
.photo-gallery-slideshow .arrows > a.next { left:auto; right:-5px; }
.photo-gallery-blocks { overflow:hidden; width:100%; height:100%; position:relative; }
.photo-gallery-blocks > .inner { height: 100%; width:10000%; position:relative;}
.photo-gallery-block { height:100%; width: 324px; float:left; background-color:black;}
.photo-gallery-block img { width:50%; height:50%; float:left; cursor:pointer; }
.photo-gallery-block img.active { opacity:0.4; filter:alpha(opacity=40); }
#photo-gallery-detail-big-image { margin-bottom:0;}
#photo-gallery-detail-big-image-info { margin:0; line-height:30px;}

.block.strange-block { margin:20px 0 20px 10px;}
.strange-block .block-head { height:50px; margin-bottom:10px;}
.strange-block .block-head .arrows > a { float:left; width:189px; line-height:0; height:auto;}
.strange-block .block-head .arrows > a img{ width:100%; height:auto;}
.strange-block .block-head .arrows > a.next {float:right; }
.strange-block .slide-items-wrapper { height:263px; position:relative; overflow: hidden;}
.strange-block .block-content > .slide-items-wrapper > .slide-item { z-index:1; position:absolute; left: 1000px; top:0; width:668px;}
.strange-block .block-content > .slide-items-wrapper > .slide-item.active { left:0;}
#video-gallery-detail-big-image { margin-bottom:-31px;}
.accordion-block.media .accordion-content { padding-right:0; padding-bottom:0;}

.events-manage-table .tr .cell .more { background: transparent url(../images/angle-bottom.png) no-repeat 0 50%;  padding-left: 19px; display: inline-block; line-height: 15px; height: 15px;}
.events-manage-table .tr .cell .more.less { background-image:url(../images/angle-up.png); }

.events-list-page-filter.award-filter .container { width:auto; }
.events-list-page-filter.award-filter .select-wrapper .select-value { width: 375px;}
.event-names-wrapper { max-height:85px; overflow:hidden; line-height:17px;}
.event-names-wrapper.all { max-height:none; }
.register-form .input-group label { width:150px;}
.register-form .input-group .help-text { float:right; line-height:50px; }

.block.email-to-friend { background-color:white; position: absolute; z-index: 10; width:100%; border-bottom: 2px solid black; display:none;}
.block.email-to-friend .block-title { float:none; padding-right:30px; position:relative;}
.block.email-to-friend .block-title a.close { position:absolute; left:0; top:0; height:50px; width:50px; background: #cc092f url(../images/close.png) no-repeat 50% 50%; z-index: 2; display: block; opacity: 1;}
.block.email-to-friend form { margin:30px; margin-bottom: 0;}
.block.email-to-friend .input-group label { width:150px;}
.block.email-to-friend .input-group .help-text { float:right; margin-right:150px; padding-right:0;}
.block.email-to-friend .block-content { padding-bottom: 0; border-bottom: 1px solid transparent;}

.search-page-results-form { background-color:black; height:50px; padding: 5px 10px; margin-bottom: 30px;}
.search-page-results-form form { width:auto; float: none; border-right: 0;}

.extra-page.search-results .page-content { padding-top:20px; background-color: white;}
.extra-page.search-results .sidebar { padding-top:20px;}
.extra-page.search-results .sidebar h4 { margin-top:0;}
.search-result { padding:10px 30px; border-top:1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: -1px;}
.result-title { padding-bottom:8px; }
.result-page-title { padding:10px 0; }

ul.ul2 { list-style:none; padding:0; margin:0; direction:rtl;}
ul.ul2 li { position:relative; padding-right:20px; background:transparent url(../images/ul2.png) no-repeat 100% 6px; line-height:20px; margin-bottom:20px;}
.block.add-participant { padding-top:20px; border-bottom:1px solid #ccc; padding-bottom:20px; width: 504px; float:right;}

.sitemap-content { border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:30px 0; background-color:white;}
.sitemap-content .left { width:58%; float:right;  border-left:1px solid #ccc;}
.sitemap-content .right { float:right; width:42%;}
.sitemap-content .inner > div > ul > li > a { font-weight:bold; }
ul.sitemap { padding:0 30px 0 0; list-style:none; margin:0; line-height:20px; }
ul.sitemap li a { background:transparent url(../images/angle-left.png) no-repeat 100% 50%; display:block; line-height:16px; padding:12px 30px; font-family:Arial; font-size:13px;} 