@media (max-width: 767px)
{
/* 	.navbar-fixed-top, .navbar-fixed-bottom { position:static; }
	body { padding-top:0; } */
	
	body { padding-top: 55px;}
	.container { width:460px; }
	.col3-1 { width:auto; float:none; display: block;}
	.col2-1 { width:auto; float:none;}
	.col3-2 { width:auto;float:none; }
	.col3-2.margin10,.col3-2.margin-rb10 ,.col3-2.margin-r10, .col2-1.margin-r10,.col3-1.margin-r10{ width: auto; float:none; margin:0;}
	.arrows { width:135px; height:67px;}
	.arrows a { width:67px; height:67px; background-position: 28px -137px; background-size: 30px;}
	.indicators a { width: 68px; height:67px; line-height:67px; font-size:30px;}
	.arrows a.prev { background-position: 24px -83px; }
	.arrows a.down { background-position: 21px -560px; }
	.block-title { height:67px; line-height:67px !important; padding: 0 60px 0 0; width: 325px; float: right;}
	.block-title .icon { top:16px;}
	.head40 { height:57px; line-height:57px !important;}
	.head40 .fa { font-size:30px;}
	
	header > .line2 { padding-bottom:0; }
	
	.hidden-mobile { display: none !important;}
	.visible-mobile { display:block; }
	header .line1 .block { height:50px;}
	header .line1 .block.search { border-left:2px solid #262626;}
	header .line1 .block.block-english { width:80px; text-align:center; padding:0; border-right:2px solid #262626; font-size:14px; }
	header.navbar-inverse { height:50px; line-height:50px; }
	header .line1 .block.search a { width:60px; background-position: 20px -180px;}
	header .line1 .block.head-social { width:213px; border-right:2px solid #262626; }
	header .line1 .block.head-social a { font-size:26px; width:60px; }
	header .line1 .block.block-menu { font-size:16px; text-align:center; width: 103px; cursor: pointer;}
	header .line1 .block.block-menu.active { background-color:#cc092f; color:white !important;}
	header .line1 .block.block-menu.active .fa.red { color:white !important;}
	header .line1 .search-form { width: 406px; height: 50px;}
	header .line1 .search-form input { width: 284px; margin-top: 10px; height: 30px; line-height: 30px;}
	header .line1 .search-form button.search { margin-top: 5px; line-height: 42px; height: 40px; font-size: 15px;}
	header.is-search .block-english,header.is-search .block-menu { display:none;}
	header .line1 .close-search { border-right:1px solid #555; line-height:50px; font-size: 25px;} 
	header .search-form button.search .fa.fa-search { top:8px }
	#top-bar { padding:10px 0; }
	#top-bar .banner { width: 367px; height: 55px;}
	#top-bar .banner img { width: auto;}
	
	#top-bar .logo a { background-size: 238px; background-position: 0 -24px;}
	.spotlight .slideshow { height:326px; overflow:hidden; position:relative;}
	.spotlight .slideshow > .slide { position:absolute; left:0; z-index:1; }
	.spotlight .slideshow > .slide.active { z-index:3; }
	.spotlight .slideshow > .slide.prev,.spotlight .slideshow > .slide.next { z-index:2; }
	.spotlight .slideshow > .slide > .image { height: 259px; position:static;}
	.spotlight .slideshow > .slide > .info { position:static; padding: 12px; background-color: #00732f;}
	.spotlight .slideshow > .slide > .info .title { margin:0; height:67px; margin-left:135px; font-size: 19px; line-height: 23px !important; overflow: hidden; padding: 0; height: 46px; overflow: hidden;}
	.spotlight .slideshow > .slide > .info p { display:none;}
	.spotlight .slideshow > .arrows { position:absolute; left:0; bottom:0; width: 135px; height: 67px;}
	
	
	
	.events-block .left, .events-block .right, .events-block .middle { float:none; height:272px; width: auto;}
	.events-block .left .head{ background-size:270px; background-position:0 100%; }
	.events-block .has-head .words { margin:0; padding:20px 40px 0 225px; font-size: 16px !important; line-height: 1.3;}
	.events-block .has-head .yin { right:5px; top:13px; }
	.events-block .has-head .name { margin-right:40px;}
	.events-block .middle { height:auto;}
	.events-block .middle .line4 { height:67px; line-height:67px !important; padding:0 60px 0 0; }
	.events-block .middle .line4 .icon { top:17px;}
	.events-block .middle .line5 { padding-left:100px;}
	.events-block .right .head{ background-size:270px; background-position:110% 100%; }
	.events-block .right.has-head .words { padding:20px 235px 0 30px; }
	.events-block .right.has-head .yin { right:43%; top:13px; }
	.events-block .has-head .name { margin-right:235px;}
	
	.media-items { width:460px; margin:0 auto; }
	.media-items .media-items-wrapper { width: 4600px;}
	.media-item { width: 460px; margin:0; float:left; height: 352px;}
	.media-item .thumb { height:260px;}
	.media-item .info {height: 93px; }
	.media-item:hover .slides-wrapper { top:0; }
	.series-block .block  { float:none !important; height: auto;}
	.series-block .block.block2 { margin-top:20px;}
	.series-block .block.block1 { margin-bottom:10px;}
	.series-block .block.green { width:147px; float: left !important; height: 147px;}
	.series-block .block.green.last { width:146px; margin-right:0;}
	
	.winners-block .slides-wrapper .slide { top:1000px;}
	.winners-block .slides-wrapper .slide.active { top:0;}
	.winners-block .item { margin-top:10px; height:auto; }
	.winners-block .item .left { width:306px;}
	.winners-block .item .right { width:154px;}
	.winners-block .item .left .icon { top:10px;}
	.winners-block .item .line1 { margin-top:45px;}
	.winners-block .item .line2 { margin-top: 10px;}
	
	.messages-block { height:auto;}
	.messages-block .container {position:relative;}
	.messages-block .arrows { position:absolute; left:0; top:0;}
	.messages-block .download { float:right; clear:right; width:62px; border-left:1px solid #b6b6b6; height:94px;}
	.messages-block .download a { padding: 33px 15px 0 15px; }
	.messages-block .slides-wrapper { width: 385px; border-right:0; }
	.messages-block .message {  height:94px; line-height:20px; overflow:hidden; vertical-align: middle; position:relative;}
	.messages-block .message .message-inner .time { white-space:nowrap;}
	.messages-block .block-title { width: 256px; line-height: 25px !important; padding-top: 9px;}
	
	.social { height:auto; }
	.social.instagram > .content { padding-bottom:3.5%; }
	.social.twitter .tweet { font-size: 16px;}
	
	footer { margin-top:120px; position:relative; border-bottom-color: black; width: 100%;}
	footer .block1 { text-align:right; }
	footer .block1 .links { line-height:30px !important; font-size:14px; padding-left: 30px;}
	footer .block1 .links a{ padding:0 10px;}
	footer .block1 .copyright { padding-right:10px; }
	footer a.back-to-top { height:55px; line-height:55px; font-size:20px; text-align:center; border-bottom:1px solid white;}
	footer a.back-to-top .fa { font-size:26px;}
	
	.events-block .middle .light { font-size:14px; }
	.events-block .middle .line2 { height:auto;}
	footer .block2 { width:460px; left:50%; margin-left:-230px; position: absolute !important; top:-100px; height:80px;}
	footer .block2 .tab1 a { font-size:18px; line-height:1; width:160px; margin-left: 24%;}
	footer .block2 .icon { right:30%; -webkit-transform:scale(1.3); -ms-transform:scale(1.3); transform:scale(1.3);  transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;}
	footer .newsletter .tab.tab2 .close { background-size:34px; background-position: 16px -345px; }
	footer .newsletter .tab.tab2 form button { font-size:16px; }
	
	.messages-block .slides-wrapper { height:94px;}
	.winners-block .slides-wrapper { height: 328px;}
	
	
	.mobile-menu { display:none; position:absolute; top:50px; background-color:#cc092f; width:100%; left:0; color:white;}
	.mobile-menu a { color:white; text-transform:uppercase;font-size:16px;}
	.mobile-menu a:hover { background-color:#e3e4e4; color:black; background-position-y: 19px;}
	.mobile-menu .line1 { display:table; height:57px; line-height:57px; width:100%; border:1px solid #db536e; border-collapse:collapse;}
	.mobile-menu .line1 .cell { padding:0 20px;display:table-cell; text-align:center;  border-right:1px solid #db536e; }
	.mobile-menu ul,.mobile-menu li { margin:0; padding:0; list-style:none; }
	.mobile-menu ul li a{ padding-right:40px; height:57px; line-height:57px; border-bottom:1px solid #db536e; display:block; background: transparent url(../images/angles.png) no-repeat 13px -201px; background-size:30px;}
	.mobile-menu .line3 { background-color:black; padding:15px 40px; height:70px; }
	.mobile-menu .line3 a { float:right; height:40px; display:block; }
	.mobile-menu .line3 a.cell1 { font-size:12px; line-height:14px; padding-top:6px; padding-right:10px; width:200px;}
	.mobile-menu .line3 a.cell2 { width:164px; line-height:40px !important; background-color:#cc092f; margin-left:10px; text-align:center;  }
	.mobile-menu .line3 a:hover { color:white; background-color:#cc092f; }
	
	.messages-block .indicators { width:204px; position: absolute; left: 0; top: 0;}
	.left-right-section .contentbar,.left-right-section .sidebar { float:none; }
	
	.slideshow.image-slider {width: 100%;height: 304px;}
    .slideshow.image-slider .slide .image { height:237px; }
    .slideshow.image-slider .slide .image img { width:100%; height:100%; }
	.slideshow.image-slider .slide .info {line-height: 14px;height: 67px;padding-left: 140px;}
	.green-hover-block .slides-wrapper .tab .tab-inner {padding: 10% 10px 0 0;line-height: 1.2;}
	.green-blocks-section .green-hover-block,
	.green-blocks-section .green-hover-block._apply{ width:148px; margin-right:8px; height: 148px;}
	.green-blocks-section .stepshow-container { margin-right: -8px; overflow:hidden;}
	.green-blocks-section .stepshow-inner { width:10000px; position: relative;}
	.green-hover-block .icon { top: 11%;}
	.green-hover-block .title { font-size:14px !important; }
	
	.events-slider-block .title-line {width: auto;}
	.page-information { padding-right:0; padding-lefT:0;}
	.page-tools .function-button { width:33%; text-align:center; font-size:0; }
	.page-tools .function-button .icon { margin-top:1px; }
	.page-tools .function-button .icon-mail { margin-top:3px; }
	.page-text-size b { margin:0 10px;}
	.social-share-buttons { margin-right:0; height: 60px;  display: -webkit-flex;display: flex; justify-content:center; flex-wrap: wrap;  margin-top: 20px; border-top:1px solid #ccc; margin-left: 0; padding-top: 15px;}
	.page-information.bottom .social-share-buttons {  margin-top: 20px; border-top:0;}
	.social-share-buttons .share-button { margin: 0 10px 10px;}
	.mobile-page-title{ padding: 21px; text-align: center;}
	.page-title { padding: 21px; }
	.page-content { margin-left:0;}
	.page-content .inner-content { padding:20px;}
	.category-block .block-title { width:auto; padding-right: 20px;}
	.category-block .block-title > a.more { width: 95px; line-height:68px !important; background: #cc092f url(../images/angle-left-white.png) no-repeat 10px 50%; background-size: 9px; padding: 0 10px 0 0;}
	.categories-wrapper .category-item { padding-right:20px;}
	.categories-wrapper .category-item .category-left { position:static;width:auto; text-align:right; line-height:30px !important; }
	.categories-wrapper .category-right { padding:0; margin:0; }
	
	.accordion-block .block-title { background-size:25px }
	.accordion-content-wrapper .accordion-content { padding:20px;}
	.illustration { height:336px;}
	.winner-block { padding: 0 20px 10px 20px;}
	ul.participating { padding:10px 20px;}
	ul.participating li { padding:8px 0; } 
	.winner-block .winner-item .winner-logo img { width:52px; height:52px;}
	.winner-block .winner-item .bold.font14 { line-height:17px !important;}
	.login-content-inner { padding-right:20px; }
	.login-content form { margin-top:10px;}
	.input-group { height:auto; margin-bottom:20px; position:relative;}
	.login-content form .input-group { padding-right:20px;}
	.input-group .text-input { float:none; width:420px; height:66px; display: inline-block;}
	.input-group label { line-height:40px;}
	.input-group .help-text { position:absolute; top:0; right:100px; line-height:40px; }
	.participant .input-group .help-text.error { position:static; margin-left:10px; }
	.input-group.buttons-line label { display:none;}
	.events-login-wrapper { top:20%;}
	.events-list-container { margin-right:0;}

	.event-item { padding-right: 92px; float:none; width:auto; height: auto; position:relative; padding-top: 30px; padding-bottom: 30px; margin: 0 0 10px 0;}
	.event-item .calendar { position:absolute; right:20px; top:30px; }
	.event-item .name { float:none; font-size:13px;font-weight:bold;}
	.event-item .title { padding:0; min-height: 68px; font-size:20px; line-height:1 !important; height: auto;}



	.pagination-section .pages { width: 273px; height:67px; overflow:hidden;}
	.pagination-section .pages a { width:67px; height:67px; line-height:67px; font-size:24px;}
	.events-list-page-filter .select-wrapper select { height:67px; line-height:67px; }
	.events-list-page-filter .select-wrapper .select-value { height:67px; line-height:67px;}
	.events-list-page-filter .block-title {padding-right: 10px; width:193px; }
	
	.events-manage-table .tr.head { display:none;}
	.events-manage-table,
	.events-manage-table .tr,
	.events-manage-table .tr .cell { display:block; position:relative;}
	
	.events-manage-table .tr { padding-top: 110px; padding-right: 76px; border-bottom: 0;}
	.events-manage-table .tr .cell { border-bottom:0; padding:20px 5px; float:none; display:table-cell; }
	.events-manage-table .tr .cell.last { position:absolute; top:0; width:100%; border-top:1px solid #ccc; height: 113px; padding-top: 30px; padding-bottom:0;}
	.events-manage-table .tr .cell.last .calendar { top:30px; margin-top:0;}
	.events-manage-table .tr .cell:first-child { padding-left:0;}
	.events-manage-table .with-icon { padding-right:30px; width:60px; }
	.events-manage-table .with-icon.icon-view { background-position: 34px -285px; }
	.events-manage-table .with-icon.icon-edit { background-position: 34px -315px; }
	.events-manage-table .tr .cell:nth-child(1) { width: 90px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
	.events-manage-table .tr .cell:nth-child(2) { display:none;}
	.events-manage-table .tr .cell:nth-child(3) { width: 260px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
	.events-manage-table .tr .cell:nth-child(4) { display:block;  }
	.events-manage-table .tr .cell:nth-child(3) .line,
	.events-manage-table .tr .cell:nth-child(4) .line{ display:none;}
	.events-manage-table .tr .cell.last .title { font-size:18px; }
	.events-manage-table .tr .cell:nth-child(4) div { display:inline;}
	
	.content-right-column { float:none;width:100%; }
	.event-agenda-line { width:auto; padding-top:40px; }
	.event-agenda-line .time { right:0; top:25px; margin-top:0; }
	.speakers-wrapper .speaker { width:136px; margin-right: 26px; margin-bottom: 10px;}
	.event-detail-section .accordion-block.speakers .accordion-content { padding: 30px 0 0 0; }
	.speakers-wrapper { margin-right:-26px; }
	.event-detail-section .accordion-block.documents .accordion-content { padding-right:0; }
	.event-detail-section .accordion-block.media .accordion-content { padding:0; }
	.event-detail-section .accordion-block.media .media-item { float:none; width:auto; display: block; margin: 0; height: 352px;}
	.media-item.small .thumb { height:259px; }
	.media-item.small:hover .slides-wrapper{ top:0; }
	.media-item.small .info { height:93px; padding-top: 15px;}
	.media-item.small .info .title { padding-top:5px; font-size:16px; line-height:20px; height:40px; overflow:hidden; }
	.content-left-column { float:none; width:auto; }
	.accordion-block.more-events .block-title { cursor:pointer; background-image:url(../images/cross-white.png); }
	.accordion-block.more-events.open .block-title { background-image:url(../images/minus-white.png); }
	.event-detail-section .content-left-column .event-item { margin:0; border-bottom:1px solid #ccc; }
	.block.event-register .block.participant { width: 422px; margin-right: -90px; }
	.block.participant .input-group { height:60px; margin:0; }
	.block.participant .input-group label { float:right; line-height:50px;}
	.block.participant .input-group .text-input { float:right; width:304px; height:50px;}
	.event-detail-section.register .input-group.buttons-line {margin-right: -90px;}
	.events-list-page-filter.on-media-page .select-wrapper .select-value { width: 200px; }
	.page-content .inner-content .news-image { margin: 20px -20px; }
	.testi-item.has-image > .left { float:none; width:auto; }
	.testi-item.has-image > .right { display:none;}
	.testi-item { margin:0 20px;}
	.page-content.testi-wrapper { border-bottom:1px solid #ccc; }
	.testi-pagination { margin:20px 0 20px 0px; }
	.page-information.only-share  { padding-bottom:10px; }
	.page-information.only-share .social-share-buttons{ padding-top:20px; padding-bottom:0px;}
	.photo-gallery-slideshow .arrows { height:0; }
	.photo-gallery-slideshow { height:172px; width:460px;  margin-left: -20px !important;}
	.photo-gallery-slideshow .arrows > a { top:54px; left:0;}
	.photo-gallery-slideshow .arrows > a.next { right:0;}
	.photo-gallery-block { width:307px; }
	.block.strange-block { margin:20px 0; }
	.strange-block .block-head .arrows { width:auto;}
	.strange-block .block-head .arrows > a { width: 225px; }
	.strange-block .block-head { height:60px;}
	.strange-block .media-item { width:225px; float:left; margin-right:10px; height: 208px;}
	.strange-block .media-item .thumb { height:125px; }
	.strange-block .media-item .info { height:83px; padding-top: 10px;}
	.strange-block .media-item .info .title { padding-top:3px; font-size:14px; line-height:14px; height:46px; overflow:hidden; }
	.strange-block .slide-items-wrapper { height:208px; }
	#video-gallery-detail-big-image { margin-bottom:-21px;}
	.page-information.bottom { padding-bottom:10px; }
/*** Styles added Abdul Wahhab ***/
	.extra-page .col3-2, .faqs-page .col3-2, .publications-page .col3-2, .e-library-page .col3-2{width:auto;float: none;}
	.publications-page .col3-2, .e-library-page .col3-2{width:auto;overflow:hidden;}
	.extra-page .col3-1,.faqs-page .col3-1, .publications-page .col3-1, .e-library-page .col3-1{width:auto; float:none;}
	.publications-library ul li, .e-library ul li{width:230px;}
	.publications-more-copy, .e-library-more-copy{margin-right:9px;}
    .publications-more-copy-slide,	.e-library-more-copy-slide{right:9px;}
	.about-publication{width:460px;}
	.about-publication .first-pane{width:200px;}
	.articles-library-detailed{width:460px;}
	.about-publication .first-pane > p{width:auto;}
	.publications-large-image img{float:left;width:460px;}
	.contact-us-form fieldset textarea, .contact-us-form fieldset input{width:404px;margin-top:10px;}
	.contact-us-form h2{font-size:24px;}
	.save-edit-profile-form, .submit-contact-form{padding-right:0px;}
	.contact-enquiry{margin-bottom:20px;}
	.edit-profile-page .events-login-wrapper{top:1.5%;}
	.edit-profile-form fieldset textarea, .edit-profile-form fieldset input{width:404px;margin-top:10px;}
	
	.articles-library ul li{width:230px;}
	.articles-more-copy{margin-right:9px;}
	.articles-more-copy-slide{right:9px;}
	
	.event-detail-section.register .input-group.buttons-line {margin-right: -90px;}
	.events-list-page-filter.on-media-page .select-wrapper .select-value { width: 200px; }
	.page-content .inner-content .news-image { margin: 20px -20px; }
	.testi-item.has-image > .left { float:none; width:auto; }
	.testi-item.has-image > .right { display:none;}
	.testi-item { margin:0 20px;}
	.page-content.testi-wrapper { border-bottom:1px solid #ccc; }
	.testi-pagination { margin:20px 0 20px 0px; }
	.page-information.only-share  { padding-bottom:10px; }
	.page-information.only-share .social-share-buttons{ padding-top:20px; padding-bottom:0px;}
	.photo-gallery-slideshow .arrows { height:0; }
	.photo-gallery-slideshow { height:172px; width:460px;  margin-left: -20px !important;}
	.photo-gallery-slideshow .arrows > a { top:54px; left:0;}
	.photo-gallery-slideshow .arrows > a.next { right:0;}
	.photo-gallery-block { width:307px; }
	.block.strange-block { margin:20px 0; }
	.strange-block .block-head .arrows { width:auto;}
	.strange-block .block-head .arrows > a { width: 225px; }
	.strange-block .block-head { height:60px;}
	.strange-block .media-item { width:225px; float:left; margin-right:10px; height: 208px;}
	.strange-block .media-item .thumb { height:125px; }
	.strange-block .media-item .info { height:83px; padding-top: 10px;}
	.strange-block .media-item .info .title { padding-top:3px; font-size:14px; line-height:14px; height:46px; overflow:hidden; }
	.strange-block .slide-items-wrapper { height:208px; }
	#video-gallery-detail-big-image { margin-bottom:-21px;}
	.page-information.bottom { padding-bottom:10px; }
	.events-list-page-filter.award-filter .select-wrapper .select-value { width: 200px; }
	.register-form .input-group .help-text { position: absolute; line-height:40px; left: 20px; top: 0; text-align: left;}
	.block.email-to-friend .block-title { float:none; width:auto; }
	.block.email-to-friend .block-title a.close { width: 67px; height: 67px;}
	.search-page-results-form input {width: 320px;  }
	.button.register-participation-button { font-size:12px; }
	.edit-profile-form fieldset input.logo-upload { width:130px;}
	.sitemap-content .left ,
	.sitemap-content .right { float:none; width:auto; border:none;}
}