<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">Emirates award</div>
			<div class="logo2-block margin-b10">
				<img src="images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<h1 class="page-title green upper">participating entities</h1>
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					
					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									ministries
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<ul class="participating">
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Justice</a></li>
							</ul>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									authorities and federal corporations
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<ul class="participating">
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Education</a></li>
								<li><a href="#">Ministry of Labor</a></li>
								<li><a href="#">Ministry of Health</a></li>
								<li><a href="#">Ministry of Culture, Youth and Society Development</a></li>
								<li><a href="#">Ministry of Justice</a></li>
							</ul>
						</div>
					</div>



					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>

				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
</body>
</html>