<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">Emirates award</div>
			<div class="logo2-block margin-b10">
				<img src="images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<h1 class="page-title green upper">about the award</h1>
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<div class="inner-content">
						<p>HH Sheikh Mohamed bin Rashid Al Maktoum, Vice President of the UAE, Prime Minister and Ruler of Dubai launched on the 24th of June 2009 the Emirates Government Excellence Award under the umbrella of the SKGEP to be the highest award of corporate excellence in UAE, aiming to promote the role of the federal government institutions serving the UAE society at all levels.</p>
						<p>The Emirates Government Excellence Award consists of five categories; the main categories, in which awards are presented for an entity, region and department, based on the grand total score of the excellence model criteria. Awards of sub-categories are presented to the best entity achieving the highest results according to each separate criterion in the excellence model. Best practices categories cover the fields of innovation, performance management, knowledge management, electronic applications and government communication. The excellent practice category is awarded to the best administrative practice and best technical practice. Finally, the teams category is granted to the best team within government entities.</p>

						<div class="slideshow image-slider" data-type="fade">
							<div class="arrows">
								<a href="#" class="prev"></a>
								<a href="#" class="next"></a>
							</div>
							<div class="slides-wrapper">
								<div class="slide">
									<div class="image">
										<img src="http://lorempixel.com/597/336/sports/" alt="">
									</div>
									<div class="info">
										The excellent practice category is awarded to the best administrative practice and best technical practice.
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="http://lorempixel.com/597/336/food/" alt="">
									</div>
									<div class="info">
										Based on the grand total score of the excellence model criteria. Awards of sub-categories are presented to the best
									</div>
								</div>
								<div class="slide">
									<div class="image">
										<img src="http://lorempixel.com/597/336/cats/" alt="">
									</div>
									<div class="info">
										Practice practice the excellent practice category is awarded to the best administrative and best technical.
									</div>
								</div>
							</div>
						</div>

						<p>The Prime Minister's medals are awarded to seven different government excellence categories on the individual career level for supervisory employees, technical employees, specialized employees, administrative employees, field employees, new employees and Customer Service Employees. The Prime Minister's medals come to achieve the policy of the Prime Minister of looking for excellent talents and national capabilities. The different categories of the Award target at spreading awareness of the excellence principles and their utmost importance to modern governments, build the necessary capabilities to spread the culture of excellence at all federal government institutions, and measure the progress achieved by the federal government entities in their journey towards excellence and reaching the highest levels of customer satisfaction.</p>
						<p>The Award adopted international concepts and principles of corporate excellence as well as the EFQM criteria for the main and sub-categories to assess the institutions and their performance. The Award targets at making turnaround and comprehensive development of the performance of the federal ministries and government institutions.</p>
						<p>This Award does not aim to create competition between government entities nor is it a tool to declare a winner or a loser. It rather targets at assisting government entities to recognize their strengths and improvement areas to continuously develop their performance and recognize the progress achieved compared to previous performance and that of other government entities. The Award also seeks to transfer the best practices recognized during assessment to all government entities to be benefited from and communicated.</p>
					</div>
					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>
				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
</body>
</html>