<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">Emirates award</div>
			<div class="logo2-block margin-b10">
				<img src="images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-title green upper">main categories</div>
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<div class="inner-content">
						<p>The main category is divided into three awards. Application to these awards is obligatory if the applying entity fulfills the requirements in terms of administrative hierarchy (Regions or offices under a certain entity).</p>
					</div>

					
					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									main categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>This category includes all government entities and all entities to be established in the future under certain decrees. There is a separate award for ministries and other authorities. This category is divided into two subcategories based on the size of each federal entity as per the following diagram:</p>
								<p>The Award adopts international concepts and principles of corporate excellence as well as the EFQM criteria for the assessment of institutions and measurement of their performance level. The Award aims to create a transformational change and a comprehensive improvement of performance of federal ministries and government institutions.</p>
								<br>
								<p style="text-align:center;">
									<img src="images/picture2.jpg" alt="">
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									distinguished federal department
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>This category includes all government entities and all entities to be established in the future under certain decrees. There is a separate award for ministries and other authorities. This category is divided into two subcategories based on the size of each federal entity as per the following diagram:</p>
								<p>The Award adopts international concepts and principles of corporate excellence as well as the EFQM criteria for the assessment of institutions and measurement of their performance level. The Award aims to create a transformational change and a comprehensive improvement of performance of federal ministries and government institutions.</p>
								<br>
								<p style="text-align:center;">
									<img src="images/picture2.jpg" alt="">
								</p>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									distinguished government region or government office
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>This category includes all government entities and all entities to be established in the future under certain decrees. There is a separate award for ministries and other authorities. This category is divided into two subcategories based on the size of each federal entity as per the following diagram:</p>
								<p>The Award adopts international concepts and principles of corporate excellence as well as the EFQM criteria for the assessment of institutions and measurement of their performance level. The Award aims to create a transformational change and a comprehensive improvement of performance of federal ministries and government institutions.</p>
								<br>
								<p style="text-align:center;">
									<img src="images/picture2.jpg" alt="">
								</p>
							</div>
						</div>
					</div>


					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>

				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<div class="green-blocks-section clearfix margin-b20 stepshow" data-type="horizontal" data-item=".green-hover-block">
		<div class="container title visible-mobile margin-b10">
			<div class="block-title col3-1 dark bfont font20">
				learn more<b class="icon icon-prize"></b>
			</div>
			<div class="arrows">
				<a href="#" class="prev"></a>
				<a href="#" class="next"></a>
			</div>
		</div>
		<div class="container">
			<div class="stepshow-container">
				<div class="stepshow-inner">
					<!-- INCLUDE green-blocks/participants.html -->
					<!-- INCLUDE green-blocks/winners.html -->
					<!-- INCLUDE green-blocks/condition.html -->
					<!-- INCLUDE green-blocks/categories.html -->
					<!-- INCLUDE green-blocks/apply.html -->
				</div>
			</div>
		</div>
	</div>

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
</body>
</html>