<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">{{Emirates award||جائزة الإمارات}}</div>
			<div class="logo2-block margin-b10">
				<img src="../images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<h1 class="page-title green upper">{{timeline||الجدول الزمني}}</h1>
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->
					<div class="inner-content">
						<p>{phpsum(45)}</p>
					</div>

					
					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									cycle 3 - 2014
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>{phpsum(100)}</p>
							</div>
							<div class="illustration grey">
								<div class="table-wrapper">
									<div class="middle-wrapper">ILLUSTRATION</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									cycle 2 - 2012
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>{phpsum(100)}</p>
							</div>
							<div class="illustration grey">
								<div class="table-wrapper">
									<div class="middle-wrapper">ILLUSTRATION</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									cycle 1 - 2010
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>{phpsum(100)}</p>
							</div>
							<div class="illustration grey">
								<div class="table-wrapper">
									<div class="middle-wrapper">ILLUSTRATION</div>
								</div>
							</div>
						</div>
					</div>



					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>

				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>