<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">{{Emirates award||جائزة الإمارات}}</div>
			<div class="logo2-block margin-b10">
				<img src="../images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<h1 class="page-title green upper">{{all categories||كافة الفئات}}</h1>
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->
					<div class="inner-content margin-b20">
						<p>{{The EGEA is divided into 5 different categories and 24 awards to cover the diversity of the work nature of the federal entities and achieve the objectives of SKGEP supporting excellence in all areas. The categories of the EGEA differ in terms of obligatory participation and method of application to the award. Participation is obligatory only in the main categories.}}</p>
						<br>
						<p style="text-align:center;">
							<img src="../images/picture1.jpg" alt="">
						</p>
					</div>

					
					<div class="category-block margin-b20">
						<div class="block-title bfont dark font20">
							<a class="more red bfont font16" href="#">more details</a>
							main categories
						</div>
						<div class="categories-wrapper relative">
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission obligatory</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Distinguished Federal Entity</a></li>
									<li><a href="#">Distinguished Federal Department</a></li>
									<li><a href="#">Distinguished government region or government office</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="category-block margin-b20">
						<div class="block-title bfont dark font20">
							<a class="more red bfont font16" href="#">more details</a>
							sub categories
						</div>
						<div class="categories-wrapper relative">
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission without application</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Distinguished Federal Entity</a></li>
									<li><a href="#">Distinguished Federal Department</a></li>
									<li><a href="#">Distinguished government region or government</a></li>
									<li><a href="#">Distinguished Federal Entity</a></li>
									<li><a href="#">Distinguished government region or government</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="category-block margin-b20">
						<div class="block-title bfont dark font20">
							<a class="more red bfont font16" href="#">more details</a>
							best practices categories
						</div>
						<div class="categories-wrapper relative">
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission obligatory</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Distinguished government region or government</a></li>
									<li><a href="#">Distinguished Federal Entity</a></li>
								</ul>
							</div>
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission optional</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Distinguished Federal Entity</a></li>
									<li><a href="#">Distinguished government region or government</a></li>
									<li><a href="#">Distinguished government region or government</a></li>
									<li><a href="#">Distinguished Federal submission Entity</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="category-block margin-b20">
						<div class="block-title bfont dark font20">
							<a class="more red bfont font16" href="#">more details</a>
							team categories
						</div>
						<div class="categories-wrapper relative">
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission obligatory</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Distinguished Federal Entity in Teams</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="category-block last">
						<div class="block-title bfont dark font20">
							<a class="more red bfont font16" href="#">more details</a>
							prime minister's categories
						</div>
						<div class="categories-wrapper relative">
							<div class="category-item">
								<div class="category-left bfont font16 green-text">
									<div class="table-wrapper">
										<div class="middle-wrapper">
											<a href="#">submission obligatory</a>
										</div>
									</div>
								</div>
								<ul class="category-right">
									<li><a href="#">Prime Minister's Medal for Supervisory Employees</a></li>
									<li><a href="#">Prime Minister's Medal for Technical Employees</a></li>
									<li><a href="#">Prime Minister's Medal for Specialized Employees</a></li>
									<li><a href="#">Prime Minister's Medal for Administrative Employees</a></li>
									<li><a href="#">Prime Minister's Medal for Field Employees</a></li>
									<li><a href="#">Prime Minister's Medal for New Employees</a></li>
									<li><a href="#">Prime Minister's Medal for Service Employees</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>

				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>