<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">Emirates award</div>
			<div class="logo2-block margin-b10">
				<img src="images/logo2_white.png" alt="" class="logo2">
			</div>
		</div>
	</div>
	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<h1 class="page-title green upper">winners</h1>

				



				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->

					<div class="events-list-page-filter margin-b20 margin-t20 award-filter">
						<div class="container title">
							<form action="" method="get">
								<button type="submit" class="block-title col3-1 dark bfont font20">
									filter by year
								</button>
								<div class="select-wrapper">
									<select name="year" class="sync-value-select" data-for="#events-list-filter-year-select">
										<option value="all">All Years</option>
										<option value="2010">2010</option>
										<option value="2012">2012</option>
										<option value="2014">2014</option>
									</select>
									<div class="select-value font16" id="events-list-filter-year-select">All Years</div>
									<div class="arrows">
										<a href="#" class="down"></a>
									</div>
								</div>
							</form>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									main categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Entity</div>
								<div class="winner-name green-text bfont font22">ministries</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand1.gif" alt=""></div>
									<div class="bfont font20">ministry of interior</div>
									<div class="bold font14">123 Empoyees</div>
								</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand2.gif" alt=""></div>
									<div class="bfont font20">ministry of culture</div>
									<div class="bold font14">Youth and Community Development<br>123 Empoyees</div>
								</div>
								<div class="winner-name green-text bfont font22">authorities</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand2.gif" alt=""></div>
									<div class="bfont font20">federal authority of electricity and water</div>
									<div class="bold font14">Emirates Transport<br>123 Empoyees</div>
								</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand3.gif" alt=""></div>
									<div class="bfont font20">emirates indentity authority</div>
									<div class="bold font14">123 Empoyees</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Department</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand3.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished government region or government office</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand3.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									sub categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Department</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand1.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished government region or government office</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand1.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									best practices categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Department</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand1.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished government region or government office</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand2.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									team categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Department</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand2.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished government region or government office</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand2.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									prime minister's categories
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished Federal Department</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand3.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
							<div class="winner-block">
								<div class="winner-title font28 bold">Distinguished government region or government office</div>
								<div class="winner-item">
									<div class="winner-logo"><img src="images/brand3.gif" alt=""></div>
									<div class="bfont font20">general civil aviation authority</div>
									<div class="bold font14">Information Technology Department</div>
								</div>
							</div>
						</div>
					</div>



					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>

				</div>
			</div>
			<!-- INCLUDE parts/sidebar.html -->
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>