<!-- INCLUDE parts/head.html -->
<body>
  <!-- INCLUDE parts/header.html -->
  <div class="full-page-name margin-b20 contact-us-page">
    <div class="container clearfix">
     <h1 class="page-title green upper">{{contact us||اتصل بنا}}</h1>
      <!-- INCLUDE parts/extra-sidebar.html -->
      <div class="contentbar col3-2">
        <div class="page-content">

          
          <div class="contact-us-form">
           <h2>
            Do you have any questions?
           </h2>
           <fieldset>
            <label>
             Full Name*
            </label>
            <input type="text" placeholder="Full Name" />
           </fieldset>
           <fieldset>
            <label>
             Employer
            </label>
            <input type="text" placeholder="Employer" />
           </fieldset>
           <fieldset>
            <label>
             Mobile
            </label>
            <input type="text" placeholder="05x xxxxxxx" />
           </fieldset>
           <fieldset>
            <label>
             Email*
            </label>
            <input type="text" placeholder="Email" />
           </fieldset>
           <fieldset>
            <label>
             Message*
            </label>
            <textarea></textarea>
           </fieldset>
           <div class="submit-contact-form">
            <input type="button" id="submit" value="SUBMIT" />
            <input type="button" id="cancel" value="CANCEL" />
           </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  
  <!-- INCLUDE parts/footer.html -->
</body>
</html>