<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20">
		<div class="container relative">
			<h1 class="page-title green upper">{{customer satisfaction and mystry shopper||رضا العملاء والمتسوق السري}}</h1>
		</div>
	</div>

	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="page-information no-padding-top">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->
					

					
					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									{{customer satisfaction and mystry shopper||رضا العملاء والمتسوق السري}}
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">This project aims to:</div>
								<ul class="ul2">
									{foreach(range(1,5) as $i)}
									<li>{phpsum(10,20)}</li>
									{/foreach}
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									approaches to conduct the study
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">Customer Satisfaction</div>
								<p>{phpsum(50)}</p>
								<p>{phpsum(30)}</p>
								<div class="bold font28">Mystery Shopper</div>
								<p>{phpsum(20)}</p>
								<p>{phpsum(20)}</p>
								<p>{phpsum(20)}</p>
							</div>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>{phpsum(80)}</p>
							</div>
						</div>
					</div>



					<div class="page-information bottom no-border-bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

				</div>
			</div>
			<div class="sidebar col3-1 margin-b20">
				<ul class="link-list with-left-angle hover-red-bg margin-b20 hidden-mobile">
					<li {if($nav=='satisfaction')}class="active"{/if}><a href="customers-satisfaction.html">{{Customer Satisfaction & Mystery Shopper||رضا العملاء والمتسوق السري}}</a></li>
					<li {if($nav=='opinion')}class="active"{/if}><a href="employees-opinion.html">{{employee's opinion||آراء الموظفين}}</a></li>
				</ul>
				<!-- INCLUDE parts/events-slider.html -->
			</div>
		</div>
	</div>


	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>