<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->

	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">E-LIBRARY</div>
			<div class="logo2-block margin-b10">
			</div>
		</div>
	</div>
	<div class="full-page-name margin-b20 e-library-page">
		<div class="container clearfix">
		 <h1 class="page-title green upper">e-library</h1>
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="page-information">
						<div class="page-tools clearfix">
							<div class="function-button page-text-size" data-for=".page-content p">
								<b class="bigger" data-size="14px">A</b>
								<b class="normal active" data-size="13px">A</b>
								<b class="smaller" data-size="12px">A</b>
								Text size
							</div>
							<a href="#" class="function-button email-page-button">email to friend <i class="icon icon-mail"></i></a>
							<a href="#" class="function-button print-page-button">print this page <i class="icon icon-print"></i></a>
						</div>
					</div>
					
					<div class="e-library">
					 <ul>
					  <li>
					   <img src="images/e-library-1.gif" alt="" />
					   <div class="e-library-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-2.gif" alt="" />
					   <div class="e-library-more-copy articles">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-3.gif" alt="" />
					   <div class="e-library-more-copy books">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-4.gif" alt="" />
					   <div class="e-library-more-copy articles">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-5.gif" alt="" />
					   <div class="e-library-more-copy books">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-6.gif" alt="" />
					   <div class="e-library-more-copy newsletter">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-1.gif" alt="" />
					   <div class="e-library-more-copy articles">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-2.gif" alt="" />
					   <div class="e-library-more-copy articles">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-3.gif" alt="" />
					   <div class="e-library-more-copy articles">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="e-library-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					 </ul>
					</div>

				</div>
			</div>
			<div class="sidebar col3-1">
				<ul class="link-list with-left-angle hover-red-bg margin-b20 hidden-mobile">
					<li class="active"><a href="e-library.html">e-library</a></li>
					<li><a href="publications.html">publications</a></li>
					<li><a href="javascript:void(0);">aricles</a></li>
					<li><a href="javascript:void(0);">books</a></li>
					<li><a href="javascript:void(0);">newsletter</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- INCLUDE parts/footer.html -->
	<script>
	var addthis_config = {"data_track_addressbar":true};
	addthis_config.data_track_addressbar = false;
	
	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=longbill';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	
	//fix add this close issue
	$(document).delegate('#at3winheaderclose,#at3lb','click',function()
	{
		setTimeout(function()
		{
			$('#at3win').hide();
		},500);
	});
	</script>
	<script>
	 $(document).ready(
	  $('.e-library ul li').hover(function() {
	   $(this).find('.e-library-more-copy-slide').stop().slideToggle('');
	  })
	 );
	</script>
</body>
</html>