<!-- INCLUDE parts/head.html -->
<body>
  <!-- INCLUDE parts/header.html -->

  <div class="visible-mobile">
    <div class="container">
      <div class="mobile-page-title bfont font24 grey">{{E-LIBRARY||المكتبة الإلكترونية}}</div>
      <div class="logo2-block margin-b10">
      </div>
    </div>
  </div>
  <div class="full-page-name margin-b20 e-library-page">
    <div class="container clearfix">
     <h1 class="page-title green upper">{{E-LIBRARY||المكتبة الإلكترونية}}</h1>
      <div class="contentbar col3-2">
        <div class="page-content">
          <div class="page-information">
            <!-- INCLUDE parts/page-tools.html -->
          </div>
          
          <div class="e-library">
           <ul>
            <li>
             <img src="../images/e-library-1.gif" alt="" />
             <div class="e-library-more-copy publications">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-2.gif" alt="" />
             <div class="e-library-more-copy articles">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-3.gif" alt="" />
             <div class="e-library-more-copy books">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-4.gif" alt="" />
             <div class="e-library-more-copy articles">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-5.gif" alt="" />
             <div class="e-library-more-copy books">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
              {{ publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-6.gif" alt="" />
             <div class="e-library-more-copy newsletter">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-1.gif" alt="" />
             <div class="e-library-more-copy articles">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-2.gif" alt="" />
             <div class="e-library-more-copy articles">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
            <li>
             <img src="../images/e-library-3.gif" alt="" />
             <div class="e-library-more-copy articles">
              <span>&nbsp;</span>
              <p>
              This is the name of publication lorem ipsum dolor sit amet
              </p>
             </div>
             <div class="e-library-more-copy-slide">
              <h5>
               This is the name of publication lorem ipsum dolor sit amet
              </h5>
              <p>
               {{publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet }}
              </p>
             </div>
            </li>
           </ul>
          </div>

        </div>
      </div>
      <!-- INCLUDE parts/e-sidebar.html -->
    </div>
  </div>

  <!-- INCLUDE parts/footer.html -->
  <script>
   $(document).ready(
    $('.e-library ul li').hover(function() {
     $(this).find('.e-library-more-copy-slide').stop().slideToggle('');
    })
   );
  </script>
</body>
</html>