<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20 edit-profile-page">
		<div class="container relative">
			<h1 class="page-title green upper">edit profile</h1>
			<div class="events-login-wrapper">
				<div class="avatar"><img src="../images/avatar.jpg" alt=""></div>
				<div class="actions">
					<a href="#" class="down"></a>
					<ul class="submenus">
						<li><a href="#" class="upper font14">manage events</a></li>
						<li><a href="#" class="upper font14">edit profile</a></li>
						<li><a href="#" class="upper font14">log out</a></li>
					</ul>
				</div>
				<div class="welcome">
					Welcome,<b> Chunlong</b>
				</div>
			</div>
			
			<div class="contentbar col3-3">
			 <div class="edit-profile-form">
			  <fieldset>
					 <label>
					  Full Name
					 </label>
					 <input type="text" placeholder="Full Name" />
					 <div class="help-text error">Please input Full Name</div>
					</fieldset>
					<fieldset>
					 <label>
					  Job Title
					 </label>
					 <input type="text" placeholder="Job Title" />
					 <div class="help-text error">Please input Job Title</div>
					</fieldset>
					<fieldset>
					 <label>
					  Company Name
					 </label>
					 <span>Name of the Company</span>
					</fieldset>
					<fieldset>
					 <label>
					  Company Logo
					 </label>
					 <div class="company-logo" id="">
					  <img src="../images/company-logo.png" alt="" />
					 </div>
					 <input type="file" name="logo" class="logo-upload">
					</fieldset>
					<fieldset>
					 <label>
					  Department
					 </label>
					 <input type="text" placeholder="Department" />
					 <div class="help-text error">Please input Department</div>
					</fieldset>
					<fieldset>
					 <label>
					  Mobile Number
					 </label>
					 <input type="text" placeholder="05x xxxxxxx" />
					 <div class="help-text error">Please input Mobile Number</div>
					</fieldset>
					
					<fieldset>
					 <label>
					  Email Address
					 </label>
					 <span>username@email.com</span>
					</fieldset>
					<fieldset>
					 <label>
					  New Password
					 </label>
					 <input type="password" placeholder="New Password" />
					 <div class="help-text error">Please input New Password</div>
					</fieldset>
					<fieldset>
					 <label>
					  Confirm New Password
					 </label>
					 <input type="password" placeholder="Confirm New Password" />
					 <div class="help-text error">Please input New Password</div>
					</fieldset>
					<div class="save-edit-profile-form">
					  <input type="button" id="save" value="SAVE" />
					  <input type="button" id="cancel" value="CANCEL" />
					 </div>
			 </div>
			</div>
		</div>
	</div> 

	<!-- INCLUDE parts/footer.html -->
</body>
</html>