<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name">
		<div class="container">
			<h1 class="page-title green upper">events</h1>
		</div>
	</div>
	
	<div class="login-content margin-b20">
		<div class="container">
			<div class="login-content-inner">
				<div class="title1 font28 bold black">Login to your account</div>
				<div class="title2 font12">You must login to register participants for and manage events.</div>
			</div>
			<form action="">
				<div class="input-group clearfix">
					<label>Email Address</label>
					<input type="email" class="text-input">
				</div>
				<div class="input-group clearfix">
					<label>Password</label>
					<input type="password" class="text-input">
					<div class="help-text">
						<a href="#" class="red">Forgot?</a>
					</div>
				</div>
				<div class="input-group clearfix buttons-line">
					<label></label>
					<input type="submit" value="Submit" class="button-input red-button">
					<input type="reset" value="Cancel" class="button-input">
				</div>
			</form>
		</div>
	</div>

	<!-- INCLUDE parts/footer.html -->
</body>
</html>