<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<!-- INCLUDE parts/events-page-name-with-login.html -->
	
	<div class="event-detail-section">
		<div class="container clearfix">
			
			<div class="right content-right-column">
				<div class="block event-detail margin-b10">
					<div class="block-head">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<div class="block-content">
						<div class="calendar">
							<div class="date">4</div>
							<div class="month">OCT</div>
							<div class="year">2013</div>
						</div>
						<h2 class="font28">Excellence with Sheikh Mohamed Bin Rashid Bin Rashid Bin Rashid</h2>
						<div class="info font14 bfont">zabeel palace dubai | 6:00PM | sunday</div>
						<div class="desc">
							{phpsum(100)}
						</div>
					</div>
				</div>
				<div class="accordion-block margin-b10 open">
					<div class="block-title bfont dark font20">
						<div class="table-wrapper">
							<div class="middle-wrapper">
								agenda
							</div>
						</div>
					</div>
					<div class="accordion-content-wrapper relative">
						<div class="accordion-content tab-container">
							<div class="tab-head clearfix">
								<div class="tab button big active" data-for="tab-content-1">day 1</div>
								<div class="tab button big " data-for="tab-content-2">day 2</div>
							</div>
							<div class="tab-content-wrapper">
								<div class="tab tab-content-1 active">
									<div class="event-agenda-line first">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
									<div class="event-agenda-line">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
									<div class="event-agenda-line last">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
								</div>
								<div class="tab tab-content-2">
									<div class="event-agenda-line first">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
									<div class="event-agenda-line">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
									<div class="event-agenda-line last">
										<div class="title bold font18">{phpsum(8)}</div>
										<div class="desc bold font13">{phpsum(8)}</div>
										<div class="desc font13">{phpsum(7)}</div>
										<div class="time font14">
											{rand(1,12)}:00 - {rand(1,12)}:00 pm
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-block speakers margin-b10 open">
					<div class="block-title bfont dark font20">
						<div class="table-wrapper">
							<div class="middle-wrapper">
								speakers
							</div>
						</div>
					</div>
					<div class="accordion-content-wrapper relative">
						<div class="accordion-content">
							<div class="speakers-wrapper clearfix">
								{foreach(range(1,5) as $i)}
								<div class="speaker">
									<div class="avatar">
										<img src="http://placehold.it/121x121" alt="">
									</div>
									<div class="name font13 bold">
										Name of the other event speaker
									</div>
								</div>
								{/foreach}
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-block documents  margin-b10 open">
					<div class="block-title bfont dark font20">
						<div class="table-wrapper">
							<div class="middle-wrapper">
								documents
							</div>
						</div>
					</div>
					<div class="accordion-content-wrapper relative">
						<div class="accordion-content">
							<a class="download-line bold black font16" href="#">
								This is a document name, consecteture aldida elit
								<i class="icon icon-download"></i>
							</a>
							<a class="download-line bold black font16" href="#">
								This is a document name, consecteture aldida elit
								<i class="icon icon-download"></i>
							</a>
							<a class="download-line bold black font16" href="#">
								This is a document name, consecteture aldida elit
								<i class="icon icon-download"></i>
							</a>
						</div>
					</div>
				</div>


				<div class="accordion-block media open">
					<div class="block-title bfont dark font20">
						<div class="table-wrapper">
							<div class="middle-wrapper">
								media
							</div>
						</div>
					</div>
					<div class="accordion-content-wrapper relative">
						<div class="accordion-content">
							<div class="small-media-wrapper clearfix">
								<!-- INCLUDE parts/small-media-photo.html -->
								<!-- INCLUDE parts/small-media-video.html -->
								<!-- INCLUDE parts/small-media-photo.html -->
								<!-- INCLUDE parts/small-media-photo.html -->
								<!-- INCLUDE parts/small-media-video.html -->
								<!-- INCLUDE parts/small-media-photo.html -->
							</div>
						</div>
					</div>
				</div>

				<div class="page-information bottom">
					<!-- INCLUDE parts/social-buttons.html -->		
				</div>

			</div>

			<div class="left content-left-column">
				<div class="accordion-block more-events open">
					<div class="block-title bfont dark font20">
						<div class="table-wrapper">
							<div class="middle-wrapper">
								more events
							</div>
						</div>
					</div>
					<div class="accordion-content-wrapper relative">
						<div class="accordion-content">
							{foreach(range(1,3) as $i)}
							<div class="event-item">
								<div class="event-item-inner">
									<div class="calendar">
										<div class="date">4</div>
										<div class="month">OCT</div>
										<div class="year">2013</div>
									</div>
									<a class="title bfont font16" href="#">Excellence with Sheikh Mohamed Bin Rashid Bin Rashid Bin Rashid</a>
									<div class="name">Zabeel Palace Dubai</div>
								</div>
							</div>
							{/foreach}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>














