<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->
	<div class="spotlight">
		<div class="container">
			<div class="slideshow" data-animation-time="300" data-type="fade">
				<div class="slide slide1">
					<a class="image col3-2" href="#"><img src="images/pic1.jpg" alt=""></a>
					<div class="info col3-1">
						<a class="title bfont font24" href="#">skgep organizes prime minister medals forum</a>
						<p class="font16">Sheikh Khalifa Excellence Programme at the Prime Minister Office in the Ministry of Cabinet Affairs organized the "Prime Minister Medals Forum" for the candidates nominated for this category by the federal</p>
					</div>
				</div>
				<div class="slide slide2">
					<a class="image col3-2" href="#"><img src="images/pic2.jpg" alt=""></a>
					<div class="info col3-1">
						<a class="title bfont font24" href="#">skgep organizes minister medals forum</a>
						<p class="font16">Sheikh Khalifa Excellence Programme at the Prime Minister Office in the Ministry of Cabinet Affairs organized the "Prime Minister Medals Forum" for the candidates nominated for this category by the federal</p>
					</div>
				</div>
				<div class="slide slide3">
					<a class="image col3-2" href="#"><img src="images/pic3.jpg" alt=""></a>
					<div class="info col3-1">
						<a class="title bfont font24" href="#">prime skgep organizes prime minister medals forum</a>
						<p class="font16">Sheikh Khalifa Excellence Programme at the Prime Minister Office in the Ministry the "Prime Minister Medals Forum" for the candidates nominated for this category by the federal</p>
					</div>
				</div>
				<div class="arrows">
					<a href="#" class="prev fa fa-angle-left"></a>
					<a href="#" class="next fa fa-angle-right"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="events-block">
		<div class="container">
			<div class="left has-head col3-1">
				<div class="head" style="background-image:url(images/head1.png);"></div>
				<span class="yin">”</span>
				<div class="words font14 white">
					Lorem ipsum dolor sit amet. Cras et sem at odi porttitor mattis. Donecd ignissbcvgft im ornare  porttitor mattis. Donecd ignissbcvgft im ornaretortor.
				</div>
				<div class="name">
					His Highness<br>
					Sheikh Khalifa bin Zayed Al Nahyan
				</div>
			</div>
			<div class="middle slideshow" data-type="horizontal">
				<div class="line1 dark bfont font20">THE SHEIKH KHALIFA GOVERNMENT EXCELLENCE PROGRAM</div>
				<div class="line2 light">
					SKGEP seeks to achieve the perceptive vision of His Highness Sheikh Khalifa bin Zayed Al Nahyan and his Deputy His Highness Sheikh Mohamed bin Rashed Al Maktoum, Vice President, Prime Minister and Ruler of Dubai. This vision aspires to enable the UAE public sector to excel in its systems, performance, services and outcomes.
				</div>
				<div class="line3 seemore"><a href="" class="bfont black"><span class="fa fa-angle-left"></span> LEARN MORE ABOUT THE PROGRAM</a></div>
				<div class="line4 dark bfont font20">
					<div class="arrows">
						<a href="#" class="prev  fa fa-angle-left"></a>
						<a href="#" class="next  fa fa-angle-right"></a>
					</div>
					EVENTS<b class="icon icon-calendar"></b>
				</div>
				<div class="slides-wrapper">
					<div class="slide">
						<div class="line5 light">
							<div class="calendar">
								<div class="date">4</div>
								<div class="month">OCT</div>
								<div class="year">2013</div>
							</div>
							<a class="title bfont font16" href="#">Excellence with Sheikh Mohamed Bin Rashid </a>
							<div class="name">Zabeel Palace Dubai</div>
						</div>
						<div class="line6 seemore"><a href="#" class="bfont black"><span class="fa fa-angle-left"></span> VIEW EVENTS DETAILS</a></div>
					</div>
					<div class="slide">
						<div class="line5 light">
							<div class="calendar">
								<div class="date">5</div>
								<div class="month">OCT</div>
								<div class="year">2013</div>
							</div>
							<a class="title bfont font16" href="#">Gathering with Sheikh Mohamed Bin Rashid </a>
							<div class="name">Zabeel Palace Dubai</div>
						</div>
						<div class="line6 seemore"><a href="#" class="bfont black"><span class="fa fa-angle-left"></span> VIEW EVENTS DETAILS</a></div>
					</div>
					<div class="slide">
						<div class="line5 light">
							<div class="calendar">
								<div class="date">6</div>
								<div class="month">OCT</div>
								<div class="year">2013</div>
							</div>
							<a class="title bfont font16" href="#">Porttitor with Sheikh Mohamed Bin Rashid </a>
							<div class="name">Zabeel Palace Dubai</div>
						</div>
						<div class="line6 seemore"><a href="#" class="bfont black"><span class="fa fa-angle-left"></span> VIEW EVENTS DETAILS</a></div>
					</div>
				</div>
			</div>
			<div class="right has-head col3-1">
				<div class="head" style="background-image:url(images/head2.png);"></div>
				<span class="yin">”</span>
				<div class="words white font14">
					Lorem ipsum dolor sit amet. Cras et sem at odi porttitor mattis. Donecd ignissbcvgft im ornare  porttitor mattis. Donecd ignissbcvgft im ornaretortor.
				</div>
				<div class="name">
					His Highness Sheikh<br>
					Mohammed bin Rashid Al Maktoum
				</div>
			</div>
		</div>
	</div>


	<div class="media-block">
		<div class="container title">
			<div class="block-title col3-1 dark bfont font20">
				MEDIA UPDATES<b class="icon icon-media"></b>
			</div>
			<div class="arrows">
				<a href="#" class="prev  fa fa-angle-left"></a>
				<a href="#" class="next  fa fa-angle-right"></a>
			</div>
		</div>
		<div class="media-items">
			<div class="media-items-wrapper">
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item photo col3-1 margin-rb10">
					<a href="#" class="thumb">
						<img src="http://lorempixel.com/324/182/city/" alt="">
					</a>
					<div class="info">
						<div class="icon icon-photo"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				<div class="media-item video col3-1 margin-rb10">
					<a href="#" class="thumb video">
						<img src="http://lorempixel.com/324/182/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="info">
						<div class="icon icon-video"></div>
						<div class="date">August 4, 2013</div>
						<div class="title"><a href="#" class="black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</a></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>



	<div class="series-block">
		<div class="container">
			<div class="block block2 col3-1 grey">
				<a href=""><img src="images/logo2.png" alt=""></a>
			</div>
			<div class="block block1 col3-2 margin-rb10 dark">
				<a href="#">
					<span class="line1 bfont font20">THIRD SERIES 2012-2013</span>
					<br>
					<span class="line2 font18">SUBMISSION DEADLINE: <i class="lfont">JANUARY 30, 2014</i></span>
				</a>
			</div>
			<div class="block block6 col3-1 grey font14">
				HH Sheikh Mohamed bin Rashid Al Maktoum, Vice President of the UAE, Prime Minister and Ruler of Dubai launched on the 24th of June 2009 the Emirates Government Excellence Award under the umbrella of the SKGEP to be the highest award of corporate excellence in UAE, aiming to promote the role of the federal government institutions.
			</div>
			<a class="block green block3 white" href="#">
				<div class="tab">
					<span class="icon icon-check"></span>
					<span class="title bfont font18">what are the conditions?</span>
				</div>
			</a>
			<a class="block green block4 white" href="#">
				<div class="tab">
					<span class="icon icon-pages"></span>
					<span class="title bfont font18">what are the categories?</span>
				</div>
			</a>
			<a class="block green block5 white last" href="#">
				<div class="tab">
					<span class="icon icon-pencil"></span>
					<span class="title bfont font18">what are the requirements?</span>
				</div>
			</a>
		</div>
	</div>




	<div class="winners-block slideshow" data-type="vertical">
		<div class="container title">
			<div class="block-title col3-1 dark bfont font20">
				2012 WINNERS<b class="icon icon-prize"></b>
			</div>
			<div class="arrows">
				<a href="#" class="prev  fa fa-angle-left"></a>
				<a href="#" class="next  fa fa-angle-right"></a>
			</div>
		</div>
		<div class="container slides-wrapper">
			<div class="slide">
				<div class="item first grey col2-1 margin-r10 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/sports/" alt="">
					</div>
				</div>
				<div class="item last grey col2-1 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/sports/" alt="">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="slide">
				<div class="item first grey col2-1 margin-r10 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/city/" alt="">
					</div>
				</div>
				<div class="item last grey col2-1 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/city/" alt="">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="slide">
				<div class="item first grey col2-1 margin-r10 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/food/" alt="">
					</div>
				</div>
				<div class="item last grey col2-1 clearfix">
					<div class="left">
						<b class="icon icon-black-price"></b>
						<div class="line1"><a href="#" class="black bfont">PRIME MINISTER'S MEDAL FOR FIELD EMPLOYEES</a></div>
						<div class="line2"><a href="#" class="black bfont font20">MAJOR SALEM ALI KHALFAN HALIS</a></div>
						<div class="line3"><a href="#" class="black bold">Ministry of Interior</a></div>
					</div>
					<div class="right">
						<img src="http://lorempixel.com/200/200/food/" alt="">
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>





	<div class="messages-block slideshow" data-type="vertical" >
		<div class="container clearfix">
			<div class="block-title col3-1 dark bfont font20">
				EXCELLENCE MESSAGES<b class="icon icon-message"></b>
			</div>
			<div class="download"><a href="#"><b class="icon icon-download"></b></a></div>
			<div class="slides-wrapper">
				<div class="message font18 slide">
					<div class="message-inner">
						Corporate social responsibility <span class="time">- March 10, 2013</span>
					</div>
				</div>
				<div class="message font18 slide">
					<div class="message-inner">
						Corporate social responsibility new year 2014! <span class="time">- April 10, 2013</span>
					</div>
				</div>
				<div class="message font18 slide">
					<div class="message-inner">
						Merry christmas ponsibility <span class="time">- August 10, 2014</span>
					</div>
				</div>
			</div>
			<div class="arrows">
				<a href="#" class="prev  fa fa-angle-left"></a>
				<a href="#" class="next  fa fa-angle-right"></a>
			</div>
		</div>
	</div>


	<div class="social-block">
		<div class="container">
			<div class="social twitter col3-1 grey">
				<div class="title green head40 bfont font20">
					<div class="fa fa-twitter"></div>
					twitter
				</div>
				<div class="content font14">
					<div class="tweet first">
						<div class="name"><a href="#">@skgep</a></div>
						<div class="content">Lorem ipsum dolor sit amet. Cras et jxdjhsem at odio porttitor mattis. Donec iscvfgt digissim ornare tortor. Donec lectus ornare turpis, tempor id, cursus vitae, ornare eleifend in, risus.</div>
					</div>
					<div class="tweet last">
						<div class="name"><a href="#">@skgep</a></div>
						<div class="content">Lorem ipsum dolor sit amet. Cras et jxdjhsem at odio porttitor mattis. Donec iscvfgt digissim ornare tortor. Donec lectus ornare turpis, tempor id, cursus vitae, ornare eleifend in, risus.</div>
					</div>
				</div>
			</div>
			<div class="social youtube col3-1 margin-r10 grey">
				<div class="title green head40 bfont font20">
					<div class="fa fa-youtube"></div>
					youtube
				</div>
				<div class="content font14">
					<a href="#" class="video">
						<img src="http://lorempixel.com/284/160/city/" alt="">
						<span class="fa fa-play-circle"></span>
					</a>
					<div class="title">
						<a href="#" class="black bold font16">Prime Minister's Medals Forum - September 2013</a>
					</div>
					<div class="description">
						Cras et sem at odio porttitor matti Donec dignissim ornare tortor. Donec lectus turpis, tempor id, cursus vitae, eleifend
					</div>
				</div>
			</div>
			<div class="social instagram col3-1 margin-r10 grey">
				<div class="title green head40 bfont font20">
					<div class="fa fa-instagram"></div>
					instagram
				</div>
				<div class="content clearfix">
					<a href=""><img src="http://lorempixel.com/200/200/city/" alt=""></a>
					<a href=""><img src="http://lorempixel.com/200/200/city/" alt=""></a>
					<a href=""><img src="http://lorempixel.com/200/200/city/" alt=""></a>
					<a href=""><img src="http://lorempixel.com/200/200/city/" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<!-- INCLUDE parts/footer.html -->
</body>
</html>