<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20">
		<div class="container">
			<h1 class="page-title green upper">{$page_name}</h1>
		</div>
	</div>

	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content testi-wrapper arial">
					
					<div class="testi-item has-image clearfix">
						<div class="left text-wrapper">
							<div class="testi-content margin-b20 lh13">
								<div class="inner-text font14">Lorem ipsum macasym tygu pecuhamu posig bab mi. Sy huhijoni roq ripe coro lyfopiju gijyb qusujyna bepenyc <b>lumomup bo cadaqof. Ha mohomegi byjigyq du nehyf be reli bojaremu</b> qamocob negej. Gulenyro bygoqus nosydyc hyhomu gi tejiheh gajofip ca lame qu. Cylu pi pu ripajy dyg jeso pihe qerogan tysi celu</div>
								<div class="quote quote1"></div>
								<div class="quote quote2"></div>
							</div>
							<div class="testi-name font16 bold lh12">Sheikh Mohammed bin Rashid Al Maktoum</div>
							<div class="testi-position font13 lh12 margin-b10">Vice President and Prime Minister and Ruler of Dubai</div>
							<div class="testi-source font13">Source: Al Wahda Newspaper</div>
						</div>
						<div class="right image">
							<img src="images/head3.jpg" alt="">
						</div>
					</div>

					<div class="testi-item clearfix">
						<div class="left text-wrapper">
							<div class="testi-content margin-b20 lh13">
								<div class="inner-text font14">Emirates Transport's winning of the Excellent Governmental Performance Award in the main category of the distinguished Federal entity (more than 900 employees) will always be a motivating driver <b>to pursue continuous improvement of the organizational performance and provision of its diversified services towards more excellence and business leadership.</b></div>
								<div class="quote quote1"></div>
								<div class="quote quote2"></div>
							</div>
							<div class="testi-name font16 bold lh12">Sheikh Mohammed bin Rashid Al Maktoum</div>
							<div class="testi-position font13 lh12 margin-b10">Vice President and Prime Minister and Ruler of Dubai</div>
							<div class="testi-source font13">Source: Al Wahda Newspaper</div>
						</div>
					</div>

					<div class="testi-item has-image clearfix last">
						<div class="left text-wrapper">
							<div class="testi-content margin-b20 lh13">
								<div class="inner-text font14">The Award represents a strong support for <b>pursuing the efforts for further technical initiatives</b> that contribute to the development of the aviation sector in the state.</div>
								<div class="quote quote1"></div>
								<div class="quote quote2"></div>
							</div>
							<div class="testi-name font16 bold lh12">Sheikh Mohammed bin Rashid Al Maktoum</div>
							<div class="testi-position font13 lh12 margin-b10">Vice President and Prime Minister and Ruler of Dubai</div>
							<div class="testi-source font13">Source: Al Wahda Newspaper</div>
						</div>
						<div class="right image">
							<img src="images/head4.jpg" alt="">
						</div>
					</div>
				</div>


				<div class="pagination-section testi-pagination">
					<div class="clearfix">
						<div class="arrows">
							<a href="#" class="prev"></a>
							<a href="#" class="next"></a>
						</div>
						<div class="pages">
							<a href="#" class="active">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
						</div>
					</div>
				</div>

			</div>
			<!-- INCLUDE parts/media-sidebar.html -->
		</div>
	</div>


	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>