<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20">
		<div class="container relative">
			<h1 class="page-title green upper">program pillars</h1>
		</div>
	</div>

	<div class="left-right-section">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="page-information no-padding-top">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->
					

					
					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									awareness and learning
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">Objective</div>
								<p>{phpsum(50)}</p>
								<div class="bold font28">Methodologies</div>
								<p>{phpsum(20)}</p>
							</div>
						</div>
					</div>

					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									building capabilities
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">Objective</div>
								<p>{phpsum(50)}</p>
								<div class="bold font28">Methodologies</div>
								<p>{phpsum(20)}</p>
							</div>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									knowledge transfer
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">Objective</div>
								<p>{phpsum(50)}</p>
								<div class="bold font28">Methodologies</div>
								<p>{phpsum(20)}</p>
							</div>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									excellence awards
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<div class="bold font28">Objective</div>
								<p>{phpsum(50)}</p>
								<div class="bold font28">Methodologies</div>
								<p>{phpsum(20)}</p>
							</div>
						</div>
					</div>


					<div class="page-information bottom no-border-bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

				</div>
			</div>
			<div class="sidebar col3-1 margin-b20">
				<!-- INCLUDE parts/events-slider.html -->
			</div>
		</div>
	</div>


	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>