<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->
	
  <div class="visible-mobile">
   <div class="container">
    <div class="mobile-page-title bfont font24 grey">{{Publications||المنشورات}}</div>
    <div class="logo2-block margin-b10">
    </div>
   </div>
  </div>
  <div class="full-page-name margin-b20 ">
   <div class="container clearfix">
    <h1 class="page-title green upper">{{Publications||المنشورات}}</h1>
   </div>
  </div>

  <div class="clearfix margin-b20 e-library-page">
   <div class="container">

    <div class="contentbar col3-2">
     <div class="page-content">
      <!-- <div class="page-information">
       INCLUDE parts/page-tools.html
      </div> -->

      <div class="articles-library-detailed">
       <div class="about-publication">
        <div class="first-pane">
         <h4>
          Name of publication
         </h4>
         <h6>
          By Name of Author
         </h6>
         <p>
          {{Short synopsis of publication lorem ipsum dolor sit amet. Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. Donec lectus turpis. Cras et sem at odio porttitor mattis. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet. Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. Donec lectus turpis. Cras et  Cras et sem at odio porttitor mattis. Donec dignissim ornare tortor. sem at odio porttitor mattis.}}
         </p>
        </div>
        <div class="publication-article-visual">
         <div class="publication-article-image">
          <img src="../images/publications-img.png" alt="" />
         </div>
         <span class="download-pdf">
          <a href="#">
           download pdf
          </a>
         </span>
        </div>
        <div class="publication-url">
         <p>url</p>
         <textarea class="url-area" id="auto-select-textarea">http://www.skgep.gov.ae/elibrary/publication12345/</textarea>
        </div>
       </div>
       <div class="publications-large-image">
        <img src="../images/publications-large-image.gif" alt="" />
       </div>
      </div>

     </div>
    </div>
    <!-- INCLUDE parts/e-sidebar.html -->
   </div>
  </div>


  <!-- INCLUDE parts/footer.html -->
<script>
$(function()
{
   $('.articles-library ul li').hover(function() {
    $(this).find('.articles-more-copy-slide').stop().slideToggle('');
   });

            var textBox = document.getElementById("auto-select-textarea");
            textBox.onfocus = function() {
                textBox.select();

                // Work around Chrome's little problem
                textBox.onmouseup = function() {
                    // Prevent further mouseup intervention
                    textBox.onmouseup = null;
                    return false;
                };
            };
});
  </script>
 </body>
</html>