<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->
	<div class="visible-mobile">
		<div class="container">
			<div class="mobile-page-title bfont font24 grey">E-LIBRARY</div>
			<div class="logo2-block margin-b10">
			</div>
		</div>
	</div>
	<div class="full-page-name margin-b20 publications-page">
		<div class="container clearfix">
		 <h1 class="page-title green upper">Publications</h1>
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="page-information">
						<div class="page-tools clearfix">
							<div class="function-button page-text-size" data-for=".page-content p">
								<b class="bigger" data-size="14px">A</b>
								<b class="normal active" data-size="13px">A</b>
								<b class="smaller" data-size="12px">A</b>
								Text size
							</div>
							<a href="#" class="function-button email-page-button">email to friend <i class="icon icon-mail"></i></a>
							<a href="#" class="function-button print-page-button">print this page <i class="icon icon-print"></i></a>
						</div>
					</div>
					
					<div class="publications-library">
					 <ul>
					  <li>
					   <img src="images/e-library-1.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-2.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-3.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-4.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-5.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-6.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-1.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-2.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					  <li>
					   <img src="images/e-library-3.gif" alt="" />
					   <div class="publications-more-copy publications">
					    <span>&nbsp;</span>
					    <p>
					    This is the name of publication lorem ipsum dolor sit amet
					    </p>
					   </div>
					   <div class="publications-more-copy-slide">
					    <h5>
					     This is the name of publication lorem ipsum dolor sit amet
					    </h5>
					    <p>
					     publication lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet amet lorem ipsum dolor sit amet 
					    </p>
					   </div>
					  </li>
					 </ul>
					</div>

				</div>
			</div>
			<div class="sidebar col3-1">
				<ul class="link-list with-left-angle hover-red-bg margin-b20 hidden-mobile">
					<li><a href="e-library.html">e-library</a></li>
					<li class="active"><a href="publications.html">publications</a></li>
					<li><a href="javascript:void(0);">aricles</a></li>
					<li><a href="javascript:void(0);">books</a></li>
					<li><a href="javascript:void(0);">newsletter</a></li>
				</ul>
			</div>
		</div>
	</div>

	

	<!-- INCLUDE parts/footer.html -->
	<script>
	 $(document).ready(
	  $('.publications-library ul li').hover(function() {
	   $(this).find('.publications-more-copy-slide').stop().slideToggle('');
	  })
	 );
	</script>
</body>
</html>