<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20 ">
	    <div class="container clearfix">
	    	<h1 class="page-title green upper">{{register4||المكتبة الإلكترونية}}</h1>
	    </div>
	</div>

	<div class="left-right-section margin-b20 clearfix">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="inner-content with-top-border with-bottom-border">



						<form action="register4.html" method="get" id="register-form" class="clearfix">
							<div class="error bold red hidden" id="page-has-error">{{please fill in all fields which has (*)}}</div>



							<div class="font28 bold margin-b10">
								{{Tech fdsa fdsa fsad inical requirements}}
							</div>
							<div class="register-form small-radio-form clearfix">


								{foreach(range(1,8) as $i)}
								<div class="input-group radio-group clearfix required">
									<div class="title">{phpsum(5,20)}*</div>
									<div class="line clearfix">
										<label for="radio1{$i}">{{yes}}</label>
										<input id="radio1{$i}" type="radio" name="a{$i}" class="radio-input">
									</div>
									<div class="line clearfix">
										<label for="radio2{$i}">{{no}}</label>
										<input id="radio2{$i}" type="radio" name="a{$i}" class="radio-input">
									</div>
								</div>
								{/foreach}

								<div class="input-group clearfix">
									<div class="title">{phpsum(10)}:</div>
									<input type="text" class="text-input">
								</div>

								<div class="input-group checkbox-group required">
									<label><input type="checkbox">{phpsum(6)}*</label>
								</div>


							</div>




							<div class="register-form-bottom-line clearfix">
								<div class="input-group clearfix">
									<input type="submit" class="button-input red-button" value="{{next page}}">
									<input type="button" class="button-input" value="{{cancel}}">
								</div>
							</div>
						</form>


					</div>
					
				</div>
			</div>
			<div class="sidebar col3-1">
				<!-- INCLUDE parts/events-slider.html -->
			</div>
		</div>
	</div>


	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->

<script>
$(function()
{
	$('#register-form').bind('submit',function(evt)
	{
		var valid = true;
		$(this).find('input[type=text],input[type=file]').each(function()
		{
			var group = $(this).parents('.input-group');
			if ($.trim($(this).val()) == '' && group.is('.required'))
			{
				valid = false;
				group.addClass('has-error');
			}
			else
			{
				group.removeClass('has-error');
			}
		});

		

		$(this).find('input[type=radio]').each(function()
		{
			var group = $(this).parents('.input-group');
			if ($('#register-form input[type=radio][name='+this.name+']:checked').length == 0 && group.is('.required'))
			{
				valid = false;
				group.addClass('has-error');
			}
			else
			{
				group.removeClass('has-error');
			}
		});

		$(this).find('input[type=checkbox]').each(function()
		{
			var group = $(this).parents('.input-group');
			if (!$(this).is(':checked') && group.is('.required'))
			{
				valid = false;
				group.addClass('has-error');
			}
			else
			{
				group.removeClass('has-error');
			}
		});

		if (valid)
		{
			$('#page-has-error').hide();
		}
		else
		{
			$('#page-has-error').show();
			$('html,body').animate({scrollTop: $('.left-right-section').offset().top-80 },300);
		}
		return valid;
	});
});
</script>
</body>
</html>