<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20">
		<div class="container relative">
			<h1 class="page-title green upper">SITEMAP</h1>
		</div>
	</div>

	<div class="left-right-section margin-b20">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="sitemap-content">
						<div class="inner clearfix">
							<div class="left">
								<ul class="sitemap">
									<li><a href="index.html">{{Home||الصفحة الرئيسية}}</a></li>
									<li><a href="about-the-program.html">{{About the program||نبذة عن البرنامج}}</a></li>
									<li><a href="program-pillars.html">{{Program pillars||مرتكزات البرنامج}}</a></li>
									<li>
										<a href="award-about.html">{{Emirates Award||جائزة الإمارات}}</a>
										<ul class="sitemap">
											<li><a href="award-about.html">{{About the award||نبذة عن الجائزة}}</a></li>
											<li>
												<a href="javascript:;">{{Award Categories||فئات الجائزة}}</a>
												<ul class="sitemap">
													<li><a href="award-categories.html">{{All Categories||كافة الفئات}}</a></li>
													<li><a href="award-main-category.html">{{Main Categories}}</a></li>
													<li><a href="sub-categories.html">{{Sub Categories}}</a></li>
													<li><a href="best-practices-categories.html">{{Best practices Categories}}</a></li>
													<li><a href="team-categories.html">{{Team Categories}}</a></li>
													<li><a href="prime-ministers-categories.html">{{Prime minister's Categories}}</a></li>
												</ul>
											</li>
											<li><a href="participation-conditions.html">{{Participation Conditions||شروط المشاركة}}</a></li>
											<li><a href="participation-benefits.html">{{Participation Benefits||مميزات المشاركة}}</a></li>
											<li><a href="assessment-methodology.html">{{Assessment Methodology||منهجية التقييم}}</a></li>
											<li><a href="techinical-requirements.html">{{Techinical Requirements||المتطلبات الفنية في إعداد تقارير المشاركة }}</a></li>
											<li><a href="award-timeline.html">{{Timeline||الجدول الزمني}}</a></li>
											<li><a href="award-winners.html">{{Winners||الفائزون}}</a></li>
											<li><a href="nominees.html">{{Nominees||المترشحون}}</a></li>
											<li><a href="participating-entities.html">{{Participating Entities||الجهات المشاركة}}</a></li>
										</ul>
									</li>
									<li>
										<a href="studies.html">{{Studies||الدراسات}}</a>
										<ul class="sitemap">
											<li><a href="customers-satisfaction.html">{{Customer Satisfaction & Mystery Shopper||رضا العملاء والمتسوق السري}}</a></li>
											<li><a href="employees-opinion.html">{{Employee's Opinions||آراء الموظفين}}</a></li>
										</ul>
									</li>
									<li>
										<a href="initiatives.html">{{Initiatives||المبادرات}}</a>
									</li>
								</ul>
							</div>
							<div class="right">
								<ul class="sitemap">
									<li>
										<a href="event-events.html">{{Events||الفعاليات}}</a>
										<ul class="sitemap">
											<li>
												<a href="event-detail.html">{{Details||نبذة عن الجائزة}}</a>
												<ul class="sitemap">
													<li><a href="agenda.html">{{Agenda||فئات الجائزة}}</a></li>
													<li><a href="speakders.html">{{Speakders||فئات الجائزة}}</a></li>
													<li><a href="documents.html">{{Documents||فئات الجائزة}}</a></li>
													<li><a href="media.html">{{Media||فئات الجائزة}}</a></li>
													<li><a href="register.html">{{Registration||فئات الجائزة}}</a></li>
												</ul>
											</li>
											<li>
												<a href="event-manage.html">{{Manage Events||شروط المشاركة}}</a>
												<ul class="sitemap">
													<li><a href="event-login.html">{{Login||فئات الجائزة}}</a></li>
													<li><a href="event-events.html">{{Events List||فئات الجائزة}}</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="e-library.html" class="nowrap">{{E-Library||المكتبة الإلكترونية}}</a>
										<ul class="sitemap">
											<li><a href="publications.html">{{Publications||المنشورات}}</a></li>
											<li><a href="articles.html">{{Articles||المقالات}}</a></li>
											<li><a href="books.html">{{Books||الكتب}}</a></li>
											<li><a href="newsletter.html">{{Newsletter||النشرة الإخبارية}}</a></li>
										</ul>
									</li>
									<li>
										<a href="media-center.html">{{Media Center||المركز الإعلامي}}</a>
										<ul class="sitemap">
											<li><a href="media-press.html">{{Press News||الأخبار الصحفية}}</a></li>
											<li><a href="media-gallery.html">{{Photo Gallery||معرض الصور}}</a></li>
											<li><a href="media-video-gallery.html">{{Video Gallery||معرض الفيديو}}</a></li>
											<li><a href="media-testimonial.html">{{Testimonials||قالوا عن البرنامج}}</a></li>
											<li><a href="logo-usage.html">{{Logo Usage Guidelines||استخدام الشعار التوجيهات}}</a></li>
										</ul>
									</li>
									<li><a href="FAQs.html">{{FAQs||الأسئلة المتكررة}}</a></li>
									<li><a href="contact-us.html">{{Contact us||اتصل بنا}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidebar col3-1 margin-b20">
				<!-- INCLUDE parts/events-slider.html -->
			</div>
		</div>
	</div>


	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>