<!-- INCLUDE parts/head.html -->
<body>
	<!-- INCLUDE parts/header.html -->


	<div class="full-page-name margin-b20 ">
	    <div class="container clearfix">
	    	<h1 class="page-title green upper">{{Techinical requirements||المكتبة الإلكترونية}}</h1>
	    </div>
	</div>

	<div class="left-right-section margin-b20 clearfix">
		<div class="container clearfix">
			<div class="contentbar col3-2">
				<div class="page-content">
					<div class="page-information">
						<!-- INCLUDE parts/page-tools.html -->
						<!-- INCLUDE parts/social-buttons.html -->
					</div>
					<!-- INCLUDE parts/email-to-friend.html -->
					


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									general criteria
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<p>{phpsum(50)}</p>
								<ul class="ul3">
									<li>
										<b>General Notes</b>
										<ul class="ul3">
											<li>{phpsum(20)}</li>
											<li>{phpsum(30)}</li>
											<li>{phpsum(20)}</li>
											<li>{phpsum(40)}</li>
											<li>{phpsum(20)}</li>
										</ul>
									</li>
									<li><b>Number of coies to be handed over</b></li>
									<li>
										<b>Technical Criteria for Drafting the Submission:</b>
										<ul class="ul3">
											<li><b>Language:</b> The language used in drafting the submission is Arabic, however some terms may be used in English along with their Arabic translation.</li>
											<li><b>Font:</b> The font used in submissions is (Simplified Arabic) with font size 12.</li>
											<li>
												<b>Wrting Style:</b>
												<ul class="ul3">
													<li>The same style of writinf af dsa fjdaksl jfdksa</li>
													<li>{phpsum(20)}</li>
												</ul>
											</li>
										</ul>
									</li>
									
								</ul>
							</div>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									number of pages
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<b>Section 2: Number of Pages</b>
								<p><b>First: EGEA Main Categories</b></p>
								<ul class="ul3">
									<li>
										<b>General Notes</b>
										<ul class="ul3">
											<li>{phpsum(20)}</li>
											<li>{phpsum(30)}</li>
											<li>{phpsum(20)}</li>
											<li>{phpsum(40)}</li>
											<li>{phpsum(20)}</li>
										</ul>
									</li>
									<li><b>Number of coies to be handed over</b></li>
									<li>
										<b>Technical Criteria for Drafting the Submission:</b>
										<ul class="ul3">
											<li><b>Language:</b> The language used in drafting the submission is Arabic, however some terms may be used in English along with their Arabic translation.</li>
											<li><b>Font:</b> The font used in submissions is (Simplified Arabic) with font size 12.</li>
											<li>
												<b>Wrting Style:</b>
												<ul class="ul3">
													<li>The same style of writinf af dsa fjdaksl jfdksa</li>
													<li>{phpsum(20)}</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>



								<table class="table3">
									<tr>
										<td>
											<ul class="ul3">
												<li><b>Category of Distinguied Federal Department</b></li>
												<li><b>Category of Distinguised Goverment Region or Distinguished Goverment Office</b></li>
											</ul>
										</td>
										<td>
											Category of Distinguished Federal Entity
										</td>
										<td rowspan=2>
											Criterion <br><br><br><br>
										</td>
									</tr>
									<tr>
										<td>Number of pages (including the attachments)</td>
										<td>Number of pages (including the attachments)</td>
									</tr>
									<tr>
										<td>4</td>
										<td>7</td>
										<td>
											<div class="with-left-angle">Leadership</div>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td>7</td>
										<td>
											<div class="with-left-angle">Leadership</div>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td>7</td>
										<td>
											<div class="with-left-angle">Leadership</div>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td>7</td>
										<td>
											<div class="with-left-angle">Leadership</div>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td>7</td>
										<td>
											<div class="with-left-angle">Leadership</div>
										</td>
									</tr>
									
									<tr>
										<td></td>
										<td colspan=2 align="center">This is in addtion to the introduction parts described above.</td>
									</tr>


								</table>


							</div>
						</div>
					</div>


					<div class="accordion-block margin-b10 open">
						<div class="block-title bfont dark font20">
							<div class="table-wrapper">
								<div class="middle-wrapper">
									number of pages
								</div>
							</div>
						</div>
						<div class="accordion-content-wrapper relative">
							<div class="accordion-content">
								<b>Example:</b>
								<div class="center">
									<img src="../images/extra1.png" alt="">
								</div>
								


							</div>
						</div>
					</div>


				
					<div class="page-information bottom">
						<!-- INCLUDE parts/social-buttons.html -->
					</div>

					<a class="page-learn-more hidden-mobile block-title dark bfont font20" href="#">
						learn more about the emirates awards
						<b class="icon icon-prize"></b>
					</a>
				</div>
			</div>
			<div class="sidebar col3-1">
				<!-- INCLUDE parts/events-slider.html -->
			</div>
		</div>
	</div>

	<!-- INCLUDE parts/award-learn-more.html -->

	<!-- INCLUDE parts/media-update.html -->

	<!-- INCLUDE parts/footer.html -->
	<!-- INCLUDE parts/share-scripts.html -->
</body>
</html>