<div class="green-blocks-section clearfix margin-b20 stepshow" data-type="horizontal" data-item=".green-hover-block">
	<div class="container title visible-mobile margin-b10">
		<a class="block-title col3-1 dark bfont font20" href="#">
			learn more<b class="icon icon-prize"></b>
		</a>
		<div class="arrows">
			<a href="#" class="prev"></a>
			<a href="#" class="next"></a>
		</div>
	</div>
	<div class="container">
		<div class="stepshow-container">
			<div class="stepshow-inner">
				<!-- INCLUDE green-blocks/participants.html -->
				<!-- INCLUDE green-blocks/winners.html -->
				<!-- INCLUDE green-blocks/condition.html -->
				<!-- INCLUDE green-blocks/categories.html -->
				<!-- INCLUDE green-blocks/apply.html -->
			</div>
		</div>
	</div>
</div>