<div class="sidebar col3-1">
	<ul class="link-list with-left-angle hover-red-bg margin-b20 hidden-mobile">
		<li {if($nav=='e-library')}class="active"{/if}><a href="e-library.html">{{e-library||المكتبة الإلكترونية}}</a></li>
		<li {if($nav=='publications')}class="active"{/if}><a href="publications.html">{{publications||المنشورات}}</a></li>
		<li><a href="articles.html">{{aricles||المقالات}}</a></li>
		<li><a href="books.html">{{books||الكتب}}</a></li>
		<li><a href="newsletter.html">{{newsletter||النشرة الإخبارية}}</a></li>
	</ul>
</div>