<div class="relative events-slider-block slideshow" data-type="horizontal" data-interval="5000" id="animation3">
	<div class="line4 dark bfont font20 title-line block-title">
		<div class="arrows">
			<a href="#" class="prev"></a>
			<a href="#" class="next"></a>
		</div>
		<a href="event-events.html">{{EVENTS||الفعاليات}}<b class="icon icon-calendar"></b></a>
	</div>
	<div class="slides-wrapper">
		<div class="slide">
			<div class="line5 light">
				<div class="calendar">
					<div class="date">4</div>
					<div class="month">OCT</div>
					<div class="year">2013</div>
				</div>
				<a class="title bfont font16" href="event-detail-{rand(11111,99999)}.html">Excellence with Sheikh Mohamed Bin Rashid </a>
				<div class="name">Zabeel Palace Dubai</div>
			</div>
			<div class="line6 seemore"><a href="event-detail-{rand(11111,99999)}.html" class="bfont black"><span class="angle-text angle-left">{{VIEW EVENTS DETAILS||اطّلع على تفاصيل الفعاليات}}</span></a></div>
		</div>
		<div class="slide">
			<div class="line5 light">
				<div class="calendar">
					<div class="date">5</div>
					<div class="month">OCT</div>
					<div class="year">2013</div>
				</div>
				<a class="title bfont font16" href="event-detail-{rand(11111,99999)}.html">Excellence with Sheikh Mohamed Bin Rashid </a>
				<div class="name">Zabeel Palace Dubai</div>
			</div>
			<div class="line6 seemore"><a href="event-detail-{rand(11111,99999)}.html" class="bfont black"><span class="angle-text angle-left">{{VIEW EVENTS DETAILS||اطّلع على تفاصيل الفعاليات}}</span></a></div>
		</div>
		<div class="slide">
			<div class="line5 light">
				<div class="calendar">
					<div class="date">6</div>
					<div class="month">OCT</div>
					<div class="year">2013</div>
				</div>
				<a class="title bfont font16" href="event-detail-{rand(11111,99999)}.html">Excellence with Sheikh Mohamed Bin Rashid </a>
				<div class="name">Zabeel Palace Dubai</div>
			</div>
			<div class="line6 seemore"><a href="event-detail-{rand(11111,99999)}.html" class="bfont black"><span class="angle-text angle-left">{{VIEW EVENTS DETAILS||اطّلع على تفاصيل الفعاليات}}</span></a></div>
		</div>
	</div>
</div>