<div class="sidebar col3-1">
 <h4>
  {{CONTACT US||اتصل بنا}}
 </h4>
 <div class="contact-enquiry">
  <p>
   Shiekh Khalifa Government Excellence Program Prime Minister's Office - Ministry of Cabinet Affairs Level 40 - Emirates Towers - Shiekh Zayed Road
  </p>
  <p>
   P.O.Box 212000, Dubai, UAE <br /> Telephone: 00 !9714 330 4433 <br /> Fax: 00 !9714!330 4044 <br /> Email:!<a href="mailto:info@skgep.gov.ae">info@skgep.gov.ae</a>
  </p>
  <div class="map">
   <a href="contact-us.html">
    <img src="../images/map.gif" alt="" />
   </a>
  </div>
  <input class="enquiry" type="button" value="Do you have any questions?">
 </div>
</div>