<footer>
	<a class="back-to-top visible-mobile white" href="#">
		<i class="fa fa-angle-up"></i> {{BACK TO TOP}}
	</a>
	<div class="container">
		<div class="block1 col3-2">
			<div class="links bfont font12 white">
				<a href="sitemap.html">{{Sitemap||خريطة الموقع}}</a>   |   
				<a href="disclaimer.html">{{Disclaimer||إخلاء المسؤولية}}</a>   |   
				<a href="terms.html">{{Terms & Conditions||الشروط والأحكام}}</a>   |   
				<a href="FAQs.html">{{FAQs||الأسئلة المتكررة}}</a>   |   
				<a href="contact-us.html">{{Contact Us||اتصل بنا}}</a>   |   
				<a href="external-links.html">{{External Links||روابط خارجية}}</a>
			</div>
			<div class="copyright">&copy; {{2014 Copyright. All rights reserved.||حقوق النشر 2014. جميع الحقوق محفوظة.}}</div>
		</div>
		<div class="block2 newsletter col3-1">
			<div class="tab tab1">
				<a href="javascript:;" class="white font14">{{SIGN UP TO THE <span class="nowrap">E-NEWSLETTER</span>||سجّل في النشرة الإخبارية الإلكترونية}}</a>
				<b class="icon icon-newsletter"></b>
			</div>
			<div class="tab tab2">
				<a href="javascript:;" class="close"></a>
				<form action="">
					<button type="submit">{{sign up||سجّل}}</button>
					<input type="email" name="email" placeholder="{{EMAIL ADDRESS||عنوان البريد الإلكتروني}}">
				</form>
			</div>
		</div>
	</div>
</footer>
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery.placeholder.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/skgep.js"></script>