<header class="navbar navbar-inverse navbar-fixed-top is-default" role="banner">
	<div class="line1">
		<div class="container">
			<div class="register block hidden-mobile"><a href="register.html" class="white font13 bfont">{{register here||سجّل هنا}}</a></div>
			<div class="block block2 hidden-mobile">
				<div class="table-wrapper">
					<div class="middle-wrapper">
						<a>{{Be a part of the Emirates Award assessors panel||شارك في لجنة المقيّمين التابعة<br> لجائزة الإمارات }}</a>	
					</div>
				</div>
			</div>
			<div class="block close-search show-search">
				<i class="fa fa-times"></i>
			</div>
			<form action="?" method="get" class="search-form show-search">
				<button type="submit" class="search"><i class="fa fa-search"></i>{{SEARCH||بحث}}</button>
				<input type="text" name="q" placeholder="{{What are you looking for? Type here...||ما الذي تبحث عنه؟ اطبع هنا...}}">
			</form>
			<div class="block search show-default click-to-show-search-form"><a href="javascript:;" class="fa fa-search"></a></div>
			<div class="block visible-mobile block-english"><a href="" class="greenb change-language-button">{{ARABIC||ENGLISH}}</a></div>
			<div class="block head-social show-default">
				<a href="http://instagram.com/SKGEP" class="fa fa-instagram" target="_blank"></a>
				<a href="http://www.youtube.com/user/pmouae" class="fa fa-youtube" target="_blank"></a>
				<a href="https://twitter.com/skgep" class="fa fa-twitter" target="_blank"></a>
			</div>
			<div class="block right show-default hidden-mobile">
				<a href="contact-us.html">{{Contact us||اتصل بنا}}</a> | <a href="FAQs.html">{{FAQs||الأسئلة المتكررة}}</a>
      			| <a href="index.html" >{{Home||الصفحة الرئيسية}}</a> | <a href="" class="greenb change-language-button">{{Arabic||English}}</a>
     		</div>
			<div class="block block-menu visible-mobile">
				MENU <i class="fa fa-bars red"></i>
			</div>
		</div>
	</div>
	<div class="mobile-menu visible-mobile">
		<div class="line1">
			<a class="cell" href="contact-us.html">{{Contact us||اتصل بنا}}</a>
		    <a class="cell" href="FAQs.html">{{FAQs||الأسئلة المتكررة}}</a>
		    <a class="cell" href="index.html">{{Home||الصفحة الرئيسية}}</a>
		</div>
		<ul>
			<li><a href="about-the-program.html">{{about the program||نبذة عن البرنامج}}</a></li>
			<li><a href="program-pillars.html">{{program pillars||مرتكزات البرنامج}}</a></li>
			<li><a href="award-about.html">{{emirates award||جائزة الإمارات}}</a></li>
			<li><a href="studies.html">{{studies||الدراسات}}</a></li>
			<li><a href="initiatives.html">{{initiatives||المبادرات}}</a></li>
			<li><a href="event-events.html">{{events||الفعاليات}}</a></li>
			<li><a href="e-library.html">{{e-library||المكتبة الإلكترونية}}</a></li>
			<li><a href="media-center.html">{{media center||المركز الإعلامي}}</a></li>
		</ul>
		<div class="line3">
			<a href="register.html" class="white font14 bfont cell cell2">{{register here}}</a>
			<a href="javascript:;" class="cell cell1">{{Be a part of the emirates award assessors panel}}</a>
		</div>
	</div>
</header>
<div id="top-bar" class="clearfix line2">
	<div class="container">
		<div class="logo"><a href="/"><img src="../images/logo.png" alt=""></a></div>
		<div class="logo-print hidden"><img src="../images/logo.png" alt=""></div>
		<div class="banner pull-right">
			<img src="../images/top-banner.gif" alt="">
		</div>
	</div>
</div>
<nav class="hidden-mobile line3">
	<div class="container">
		
		<ul class="upper font14 white menu">
			<li class="first {if($nav=='media')}on{/if}">
				<a href="media-center.html">{{media center||المركز الإعلامي}}</a>
				<div class="slidedown simple">
					<ul class="block block1">
						<li><a href="media-press.html"><i class="fa fa-angle-left"></i><span>{{press news||الأخبار الصحفية}}</span></a></li>
						<li><a href="media-gallery.html"><i class="fa fa-angle-left"></i><span>{{photo gallery||معرض الصور}}</span></a></li>
						<li><a href="media-video-gallery.html"><i class="fa fa-angle-left"></i><span>{{video gallery||معرض الفيديو}}</span></a></li>
						<li><a href="media-testimonial.html"><i class="fa fa-angle-left"></i><span>{{testimonials||قالوا عن البرنامج}}</span></a></li>
						<li><a href="logo-usage.html"><i class="fa fa-angle-left"></i><span>{{logo usage guidelines||استخدام الشعار التوجيهات}}</span></a></li>
					</ul>
				</div>
			</li>
			<li {if($nav=='e-library')}class="on"{/if}>
				<a href="e-library.html" class="nowrap">{{e-library||المكتبة الإلكترونية}}</a>
				<div class="slidedown simple">
					<ul class="block block1">
						<li><a href="publications.html"><i class="fa fa-angle-left"></i><span>{{publications||المنشورات}}</span></a></li>
						<li><a href="articles.html"><i class="fa fa-angle-left"></i><span>{{articles||المقالات}}</span></a></li>
						<li><a href="books.html"><i class="fa fa-angle-left"></i><span>{{books||الكتب}}</span></a></li>
						<li><a href="newsletter.html"><i class="fa fa-angle-left"></i><span>{{newsletter||النشرة الإخبارية}}</span></a></li>
					</ul>
				</div>
			</li>
			<li {if($nav=='event')}class="on"{/if}><a href="event-events.html">{{events||الفعاليات}}</a></li>
			<li>
				<a href="initiatives.html">{{Initiatives||المبادرات}}</a>
			</li>
			<li>
				<a href="studies.html">{{Studies||الدراسات}}</a>
				<div class="slidedown simple study">
					<ul class="block block1">
						<li><a href="customers-satisfaction.html"><i class="fa fa-angle-left"></i><span>{{customer satisfaction & Mystery shopper||رضا العملاء والمتسوق السري}}</span></a></li>
						<li><a href="employees-opinion.html"><i class="fa fa-angle-left"></i><span>{{employee's opinions||آراء الموظفين}}</span></a></li>
					</ul>
				</div>
			</li>
			<li {if($nav=='award')}class="on"{/if}>
				<a href="award-about.html">{{Emirates Award||جائزة الإمارات}}</a>
				<!-- INCLUDE parts/slidedown.html -->
			</li>
			<li><a href="program-pillars.html">{{Program pillars||مرتكزات البرنامج}}</a></li>
			<li class="last"><a href="about-the-program.html">{{About the program||نبذة عن البرنامج}}</a></li>
		</ul>
	</div>
</nav>
