<a class="media-item video col3-1 margin-rb10 hoverslide" href="media-video-gallery-detail.html">
	<div class="slides-wrapper">
		<div class="slide defaut">
			<div class="thumb video">
				<img src="http://lorempixel.com/324/182/city/" alt="">
				<span class="fa fa-play-circle"></span>
			</div>
			<div class="info">
				<div class="icon icon-video"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black bold font14">{{dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor}}</div>
			</div>
		</div>
		<div class="slide hover">
			<div class="info">
				<div class="icon icon-video"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black font14">{{dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor}}</div>
				<div class="description bold black font14">{{dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor}}</div>
				<div class="viewmore bfont font14 black">
					<span class="angle-text angle-left">VIEW DETAILS</span>
				</div>
			</div>
		</div>
	</div>
</a>