<a class="media-item photo col3-1 margin-rb10 hoverslide" href="#">
	<div class="slides-wrapper">
		<div class="slide defaut">
			<div class="thumb">
				<img src="http://lorempixel.com/324/182/city/" alt="">
			</div>
			<div class="info">
				<div class="icon icon-photo"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</div>
			</div>
		</div>
		<div class="slide hover">
			<div class="thumb4">
				<?php $r = rand(1,9); ?>
				<img src="http://lorempixel.com/162/91/city/1" alt="">
				{if($r > 1)}
				<img src="http://lorempixel.com/162/91/city/2" alt="">
				{if($r > 2)}
				<img src="http://lorempixel.com/162/91/city/3" alt="">
				{if($r > 3)}
				<img src="http://lorempixel.com/162/91/city/4" alt="">
				{/if}
				{/if}
				{/if}
			</div>
			<div class="info red">
				<div class="viewmore bfont font18 white">
					<span class="angle-text angle-left">
					VIEW GALLERY
					</span>
				</div>
			</div>
		</div>
	</div>
</a>