<a class="media-item photo col3-1 margin-rb10 hoverslide" href="#">
	<div class="slides-wrapper">
		<div class="slide defaut">
			<div class="thumb">
				<img src="http://lorempixel.com/324/182/city/" alt="">
			</div>
			<div class="info">
				<div class="icon icon-video"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black bold font14">dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor</div>
			</div>
		</div>
		<div class="slide hover">
			<div class="thumb4">
				<img src="http://lorempixel.com/162/91/city/1" alt="">
				<img src="http://lorempixel.com/162/91/city/2" alt="">
				<img src="http://lorempixel.com/162/91/city/3" alt="">
				<img src="http://lorempixel.com/162/91/city/4" alt="">
			</div>
			<div class="info red">
				<div class="viewmore bfont font18">
					<i class="fa fa-angle-left"></i>
					VIEW GALLERY
				</div>
			</div>
		</div>
	</div>
</a>