<a class="media-item news col3-1 margin-rb10 hoverslide" href="#">
	<div class="slides-wrapper">
		<div class="slide defaut">
			<div class="thumb news">
				<img src="{rand_choose('http://lorempixel.com/324/182/city/,../images/default-324x182.gif')}" alt="">
			</div>
			<div class="info">
				<div class="icon icon-news"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black bold font14">{{dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor}}</div>
			</div>
		</div>
		<div class="slide hover">
			<div class="info">
				<div class="icon icon-news"></div>
				<div class="date">August 4, 2013</div>
				<div class="title black font14">{{dolor sit amet. Cras et sem at odipor cdignissbcvgft im ornar porttitor}}</div>
				<div class="description bold black font14">{{it amet. Cras et sem at odipor it amet. Cras et sem at odipor it amet. Cras et sem at odipor it amet. Cras et sem at odipor}}</div>
				<div class="viewmore bfont font14 black">
					<span class="angle-text angle-left">VIEW DETAILS</span>
				</div>
			</div>
		</div>
	</div>
</a>