<div class="page-tools clearfix">
	<div class="function-button page-text-size" data-for=".page-content p">
		<b class="bigger" data-size="14px">A</b>
		<b class="normal active" data-size="13px">A</b>
		<b class="smaller" data-size="12px">A</b>
		Text size
	</div>
	<a href="#" class="function-button email-page-button">email to friend <i class="icon icon-mail"></i></a>
	<a href="javascript:print();" class="function-button print-page-button">print this page <i class="icon icon-print"></i></a>
</div>