<div class="sidebar col3-1 hidden-mobile">
	<div class="logo2-block margin-b10">
		<img src="images/logo2_white.png" alt="" class="logo2">
	</div>
	<ul class="link-list with-left-angle hover-red-bg margin-b20">
		<li><a href="#">About the award</a></li>
		<li class="has-sub-items open">
			<a href="javascript:;">Award categries</a>
			<ul class="sub-list">
				<li class="active"><a href="#">All categories</a></li>
				<li><a href="#">main categories</a></li>
				<li><a href="#">sub categories</a></li>
				<li><a href="#">best practices categories</a></li>
				<li><a href="#">team categories</a></li>
				<li><a href="#">prime minister's categories</a></li>
			</ul>
		</li>
		<li><a href="#">participation conditions</a></li>
		<li><a href="#">participation benefits</a></li>
		<li><a href="#">assessment methodology</a></li>
		<li><a href="#">techinical requirements</a></li>
		<li><a href="#">timeline</a></li>
		<li><a href="#">winners</a></li>
		<li><a href="#">leaders category nominees</a></li>
		<li><a href="#">participating entities</a></li>
	</ul>
	<!-- INCLUDE parts/events-slider.html -->
</div>