<div class="slidedown">
	<ul class="block block1">
		<li><a href="award-categories.html"><i class="fa fa-angle-left"></i><span>{{award categories||فئات الجائزة}}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{participation conditions||شروط المشاركة}}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{participation benefits||مميزات المشاركة}}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{assessment methodology||منهجية التقييم}}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{techinical requirements||المتطلبات الفنية في إعداد تقارير المشاركة}}</span></a></li>
		<li><a href="award-winners.html"><i class="fa fa-angle-left"></i><span>{{winners||الفائزون }}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{participation entities||الجهات المشاركة}}</span></a></li>
		<li><a href="award-timeline.html"><i class="fa fa-angle-left"></i><span>{{timeline||الجدول الزمني}}</span></a></li>
		<li><a href="#"><i class="fa fa-angle-left"></i><span>{{leaders category nominees||المترشحون}}</span></a></li>
	</ul>
	<div class="block block2">
		<div class="head40">
			<i class="fa fa-angle-left"></i>
			{{about the award||نبذة عن الجائزة }}
		</div>
		<div class="content">
			<center><img src="../images/logo2_white.png" alt=""></center><br>
			<p>HH Sheikh Mohamed bin Rashid Al Maktoum, Vice President of the UAE, Prime Minister and Ruler of Dubai launched on the 24th of June 2009 the Emirates Government Excellence Award under the umbrella of the SKGEP to be the highest award of corporate excellence in UAE, aiming to promote the role of the federal government institutions serving the UAE society at all levels.</p>
		</div>
	</div>
</div>