<a class="block green block4 white hoverslide relative green-hover-block _apply" href="#"  data-200-bottom="left:-150px;" data--100-bottom="left:0px;">
	<div class="slides-wrapper">
		<div class="tab">
			<span class="icon icon-pages"></span>
			<span class="title bfont font18">what are the categories?</span>
		</div>
		<div class="tab hover">
			<div class="tab-inner">
				<div class="white font18">The technical requirements adn general criteria</div>
				<br>
				<div class="viewmore white bfont font16">
					<span class="angle-text angle-left">
					LEARN MORE
					</span>
				</div>
			</div>
		</div>
	</div>
</a>