<a class="block green block5 white last hoverslide relative green-hover-block" href="#"  data-200-bottom="left:-100px;" data--100-bottom="left:0px;">
	<div class="slides-wrapper">
		<div class="tab">
			<span class="icon icon-winner"></span>
			<span class="title bfont font18">how are winners assessed?</span>
		</div>
		<div class="tab hover">
			<div class="tab-inner">
				<div class="white font18">The technical requirements adn general criteria</div>
				<br>
				<div class="viewmore white bfont font16">
					<span class="angle-text angle-left">
					LEARN MORE
					</span>
				</div>
			</div>
		</div>
	</div>
</a>